<div class="login">
  <div class="login-container">

    <div class="naslov fs-1 fw-bold p-1 bd-highlight">
      <a class="nav-link active text-dark fs-1 fw-bold" [routerLink]="'/home'">searchit</a>
      <hr class="naslov-underline">
    </div>

    <div class="d-flex" *ngIf="mode">
      <main class="form-signin form">
        <form [formGroup]="emailForm" class="form-signin" (ngSubmit)="sendEmail()" autocomplete="off">

          <h1 class="fs-6 font-weight-normal">
            <span *ngIf="mode.includes('resend-email-confirmation-link')">
              {{ 'resend_email_confirmation_link' | translate }}
            </span>
          </h1>

          <div class="mt-2 mb-4">
            <input formControlName="email" type="text" placeholder="{{ 'email_placeholder' | translate }}" class="form-control"
                   [class.is-invalid]="submitted && emailForm.get('email')?.errors">
            <span class="text-danger" *ngIf="submitted && emailForm.get('email')?.hasError('required')">
              {{ 'email_required' | translate }}
            </span>
            <span class="text-danger" *ngIf="submitted && emailForm.get('email')?.hasError('email')">
              {{ 'invalid_email' | translate }}
            </span>
          </div>

          <div class="form-floating" *ngIf="errorMessages.length > 0">
            {{ errorMessages }}
          </div>

          <div class="button-section d-flex flex-row justify-content-end">
            <button class="btn-cancel" type="button" (click)="cancel()">{{ 'cancel' | translate }}</button>
            <button class="btn-confirm ms-2" type="submit">{{ 'send' | translate }}</button>
          </div>

        </form>
      </main>

    </div>
  </div>
</div>
