<app-navbar user='neregistrovani'></app-navbar>


<div class="content d-flex flex-column">


  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">Home > </a>
    <p style="color: #84B59F; font-size: larger;"> > Saved</p>
  </div>
  <!-- Breadcrumbs -->


  <div class="d-flex flex-row justify-content-center align-items-center" style=" margin-bottom: 50px; margin-top: 10px">
    <span class="fw-bold fs-2" style="color: #84B59F; margin-left: auto; margin-right: auto; ">Saved</span>
  </div>


  <!-- Seach box  -->
  <div class="search-box">
    <form class="search-form">
      <input class="form-control" type="text" [(ngModel)]="pretragaNaziv" [ngModelOptions]="{standalone: true}"
             (ngModelChange)="onSearchChange($event)"
             placeholder="Search by applicant name or title.">
      <i class="fa-solid fa-magnifying-glass"></i>
    </form>
  </div>
  <!-- Seach box  -->

  <!-- Canidates Section -->
  <div class="kandidati-section d-flex flex-row justify-content-between">
    <!-- Canidates -->
    <div class="kandidati d-flex flex-column">


      <!-- Canidates  -->
      <div class="kandidat"
           *ngFor="let kandidat of renderKompanije() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }"
      >
        <div class="kandidat-content d-flex flex-row justify-content-between align-items-center">

          <div class="d-flex flex-column ps-4" >
            <div class="fw-bold fs-3" style="color: #84B59F">
              <span> {{ kandidat.ime }} </span>
              <span> {{ kandidat.prezime }} </span>
            </div>
            <span class="fw-normal fs-5">{{ kandidat.zvanje }}</span>
            <div class="d-flex flex-row align-items-center mt-1">
              <img style=" height: 15px; width: 15px;" alt="" src="../../../../assets/img/sat2.png">
              <span class="fw-normal ms-1"
                    style="font-size: 13px;">Applied on {{ kandidat.datumPrijave | date:'d.M.yyyy' }}
                for {{ kandidat.nazivPozicije }}</span>
            </div>
          </div>

          <div class="d-flex flex-column ms-auto pe-4 align-content-between">

            <div>
               <span *ngIf="kandidat?.status != '' "
                     class="fs-6 d-flex flex-row justify-content-end ">
                <div class="status">
                                 {{ kandidat?.status }}
                </div>
                 </span>
              <span *ngIf="kandidat?.status == '' "
                    class="fs-6 d-flex flex-row justify-content-end ">
                 <div class="status" style="background-color: lightgray">
                                No status
                 </div>
                  </span>
            </div>


            <div class="d-flex flex-row mt-5">
              <button type="button" class="btn-danger"
                      (click)="openUnsaveModal(kandidat)">
                Remove
              </button>

              <button class="btn-confirm" type="button"
                      style="margin-left: 10px" [routerLink]="['/cv-details/', kandidat?.cvId]">Contact
              </button>


              <button class="btn-confirm" type="button"
                      style="margin-left: 10px" [routerLink]="['/cv-details/', kandidat?.cvId]">Details
              </button>

            </div>

          </div>

          <app-notification-toast></app-notification-toast>

        </div>
      </div>
      <!-- Kompanija  -->

      <!-- Paginacija -->
      <div *ngIf="imaRezultataPretrage" class="d-flex justify-content-center pe-5">
        <pagination-controls class="pagination ps-0"
                             (pageChange)="pageChangeEvent($event, true)"></pagination-controls>
      </div>
      <!-- Paginacija -->

    </div>
    <!-- Komapnije -->
  </div>


  <!-- Nema rezultata pretrage  -->
  <div *ngIf="!imaRezultataPretrage && pretragaNaziv != ''" class="p-4 border border-2 shadow bg-body-tertiary"
       style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; width: 100%; margin: 100px auto 300px;">
    <span class="fs-4 mb-4">No results for {{ this.pretragaNaziv }}</span> <br>
    <div class="mt-3 fs-6">
      <span>Search Help</span>
      <ul>
        <li>Check your search for typos and spelling errors.</li>
        <li>Try more general keywords.</li>
        <li>Try different keywords.</li>
      </ul>
    </div>
  </div>

  <div *ngIf="!imaRezultataPretrage && pretragaNaziv == ''" class="p-4 border border-2 shadow bg-body-tertiary"
       style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; width: 100%; margin: 100px auto 300px;">
    <span class="fs-5 mb-4">You haven't saved any applicant yet.</span> <br>
    <br>
    <button class="btn-confirm" type="button"
       style="width: 160px" [routerLink]="['/applicants/']">Explore Applicants</button>
  </div>

  <!-- Nema rezultata pretrage  -->

  <!-- Modal -->
  <div class="modal fade" id="confirmUnsaveModal" tabindex="-1" aria-labelledby="confirmUnsaveModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmUnsaveModalLabel">Confirm Unsave</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to unsave this applicant?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn-confirm"
                  (click)="confirmUnsave()">Unsave
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->

</div>


<app-footer></app-footer>

