<app-navbar user='neregistrovani'></app-navbar>

<div class="d-flex flex-column container me-auto ms-auto">


  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">Home > </a>
    <p *ngIf="loggedUser?.role == 'Kandidat'" style="color: #84B59F; font-size: larger;" [routerLink]="['/cv/']"> > CV >
    <p *ngIf="loggedUser?.role == 'Kandidat'" style="color: #84B59F; font-size: larger;"> > {{ this.cv?.naziv }}
    <p *ngIf="loggedUser?.role == 'Kompanija'" style="color: #84B59F; font-size: larger;"
       [routerLink]="['/applicants/']"> > Applicants >
    <p *ngIf="loggedUser?.role == 'Kompanija'" style="color: #84B59F; font-size: larger;">
      > {{ this.cv?.ime }} {{ this.cv?.prezime }}
  </div>
  <!-- Breadcrumbs -->


  <div class="fw-bold tekst mb-4">{{ this.cv?.naziv }}</div>


  <!--Personal Details-->

  <div class="fs-5 me-auto ms-auto mb-2"> {{ this.cv?.ime }} {{ this.cv?.prezime }}</div>
  <div class="me-auto ms-auto">{{ this.cv?.grad }} {{ this.cv?.drzava }}</div>
  <div class="ms-auto">{{ this.cv?.email }}</div>
  <div class="me-auto">{{ this.cv?.brojTelefona }}</div>

  <!--Personal Details-->


  <!--Professional Summary-->

  <div *ngIf="this.cv?.profesionalniSazetak" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Professional Summary</div>
    <div>{{ this.cv?.profesionalniSazetak }}</div>
  </div>

  <!--Professional Summary-->


  <!--Education-->

  <div *ngIf="this.cv?.edukacija?.$values!.length > 0" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Education</div>
    <div class="edukacije"
         *ngFor="let edukacija of this.cv?.edukacija?.$values">

      <div class="education-content d-flex row align-items-center">
        <div class="d-flex column justify-content-between">
          <div class="fw-bold">
            {{ edukacija.nazivSkole }}
          </div>
          <div>
            <div *ngIf="edukacija.datumPocetka && edukacija.datumZavrsetka">
              {{ edukacija.datumPocetka | date: 'MMMM yyyy' }} -  {{ edukacija.datumZavrsetka | date: 'MMMM yyyy' }}
            </div>
            <div *ngIf="edukacija.grad" class="d-flex justify-content-end">
              {{ edukacija.grad }}
            </div>
          </div>
        </div>
        <div *ngIf="edukacija.opis">
          {{ edukacija.opis }}
        </div>
      </div>
    </div>
  </div>

  <!--Education-->


  <!--Employment History-->

  <div *ngIf="this.cv?.zaposlenje?.$values!.length > 0" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Employment History</div>
    <div class="zaposlenje"
         *ngFor="let zasposljenje of this.cv?.zaposlenje?.$values">

      <div class="employment-content d-flex row align-items-center">
        <div class="d-flex column justify-content-between">
          <div class="fw-bold">
            {{ zasposljenje.nazivKompanije }} - {{ zasposljenje.nazivPozicije }}
          </div>
          <div>
            <div *ngIf="zasposljenje.datumPocetka && zasposljenje.datumZavrsetka">
              {{ zasposljenje.datumPocetka | date: 'MMMM yyyy' }}
              -  {{ zasposljenje.datumZavrsetka | date: 'MMMM yyyy' }}
            </div>
          </div>
        </div>
        <div *ngIf="zasposljenje.opis">
          {{ zasposljenje.opis }}
        </div>
      </div>
    </div>
  </div>

  <!--Employment History-->


  <div class="vjestine-tehnicke-vjestine mb-4 ">


    <!--Skills-->

    <div *ngIf="this.cv?.vjestine?.$values!.length > 0" class="section">
      <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Skills</div>
      <div class="vjestine"
           *ngFor="let vjestina of this.cv?.vjestine?.$values">

        {{ vjestina }}
      </div>
    </div>

    <!--Skills-->

    <!--Technical Skills-->

    <div *ngIf="this.cv?.tehnickeVjestine?.$values!.length > 0" class="section">
      <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Technical Skills</div>
      <div class="tehnickeVjestine"
           *ngFor="let vjestina of this.cv?.tehnickeVjestine?.$values">

        {{ vjestina }}
      </div>
    </div>

    <!--Technical Skills-->

  </div>


  <!--Courses-->

  <div *ngIf="this.cv?.kursevi?.$values!.length > 0" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Courses</div>
    <div class="kursevi"
         *ngFor="let kurs of this.cv?.kursevi?.$values">

      {{ kurs }}
    </div>
  </div>

  <!--Courses-->


  <!--Websites & Links-->

  <div *ngIf="this.cv?.url?.$values!.length > 0" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Websites & Links</div>
    <div class="linkovi "
         *ngFor="let link of this.cv?.url?.$values">

      {{ link.naziv }}: {{ link.putanja }}
    </div>
  </div>

  <!--Websites & Links-->


  <div *ngIf="loggedUser?.role == 'Kandidat'" class="button-section">
    <div class="d-flex flex-row mt-2">
      <button type="button" class="btn-danger" (click)="openDeleteModal()">Delete
      </button>
      <button type="button" class="btn-confirm d-flex justify-content-center align-middle"
              (click)="edit(this.cv?.id!)">Edit
      </button>
      <button *ngIf="objavljen" type="button" class="btn-confirm d-flex justify-content-center align-middle"
              (click)="openUnPublishModal(this.cv?.id)"> Unpublish
      </button>
      <button *ngIf="!objavljen" type="button" class="btn-confirm d-flex justify-content-center align-middle"
              (click)="openPublishModal(this.cv?.id)"> Publish
      </button>
    </div>
  </div>

  <div *ngIf="loggedUser?.role == 'Kompanija'" class="button-section">


    <div class="d-flex flex-column mt-2 align-content-end">

      <div class="d-flex flex-row justify-content-end mt-2">
        <button type="button" class="btn-confirm d-flex justify-content-center align-middle"
                > Contact
        </button>
      </div>

      <div class="d-flex flex-row mt-3">
        <button type="button" class="btn-danger" (click)="openDeleteModal()">Reject

        </button>
        <button type="button" class="btn-danger ms-2" (click)="openDeleteModal()">Disqualify
        </button>
        <button type="button" class="btn-confirm d-flex justify-content-center align-middle"
                [routerLink]="'/cv-create'"> Shortlist
        </button>
        <button type="button" class="btn-confirm btn-accept d-flex justify-content-center align-middle"
                (click)="openAcceptModal()">Accept
        </button>
      </div>


    </div>
  </div>

</div>

<app-notification-toast></app-notification-toast>

<app-modal
  modalId="deleteModal"
  title="Confirm Delete"
  body="Are you sure you want to delete this cv?"
  [buttons]="deleteButtons"
></app-modal>

<app-modal
  modalId="publishModal"
  title="Confirm Publish"
  body="Are you sure you want to publish this CV?"
  [buttons]="publishButtons"
></app-modal>

<app-modal
  modalId="unpublishModal"
  title="Confirm Unpublish"
  body="Are you sure you want to unpublish this CV?"
  [buttons]="unpublishButtons"
></app-modal>

<app-modal
  modalId="acceptModal"
  title="Confirm Acception"
  body="Are you sure you want to accept this applicant?"
  [buttons]="acceptButtons"
>
  <div style="color: red">
    Note: With accept you proceed with the candidate's application, possibly moving them forward in the hiring
    process (e.g., to an interview).
  </div>
</app-modal>

<app-footer></app-footer>
