@import "bourbon";

*{
  font-family: "Noto Sans", Helvetica;
}

.nav-bar {
  background-color: #ffffff;
}

.accordion-item, .accordion-button{
  background-color: #84B59F;
}

.accordion-item {
  border-top: red;
}

.naslov-underline{
  margin-top: -20px;
  margin-left: 18px;
  width: 43px;
  height: 3px;
  background-color: #1d7b4f;
}

.btnAsc{
  margin-left: -50px;
  border-radius: 50px;
  cursor: pointer;
  border: 0.1px solid #88ab89;
  background-color: #84B59F;
  box-shadow: rgb(0 0 0 / 20%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.btnAsc:hover
{
  letter-spacing: 2px;
}

.oglas {
  width: 100%;
}

.oglasi {
  flex: 1;
  box-sizing: border-box;
}

.pregled {
  flex: 1;
  box-sizing: border-box;
}

.pregled-content {
  width: 100%;
  min-width: 100px;
}

.prikaz-section {
  min-width: 1188px;
  width: 100%;
  padding-left: 3%;
}

.img-logo {
  width: 80px;
  height: 80px;
  padding: 15px;
}

.nav-item .nav-link{
  text-decoration: none;
  color: black;
}

.nav-item .nav-link:hover{
  color: #84B59F;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  margin: 0;
  width: 100%;
}

.search-box {
  display: inline-block;
  min-width: 567px;
  border-radius: 3px;
  padding: 4px 55px 4px 15px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;


  &.hovered,
  &:hover,
  &:active {
    border: 1px solid #aaa;
  }

  input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  .search-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #aaa;
    border-radius: 3px;
    font-size: 21px;
    padding: 5px 10px 1px;
    height: 95%;

    &:hover {
      color: #fff;
      background-color: #84B59F;
    }
  }
}

.deadline {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.job-type-location {
  background-color: #84B59F;
  border-radius: 5px;
  padding: 5px;
}

.job-type{
  margin-left: 25px ;
}

.location{
  margin-right: 10px;
}

.pregled-content {
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 567px;
  height: max-content;
  min-height: 600px;
  border-radius: 25px;
  margin-top: 120px;
  margin-right: 20px;
}

.pregled-naslovi {
  color: #84B59F;
}

.pregled-btn {
  background-color: #DDD8C4;
  border-radius: 10px;
  margin: 10px;
}

.pregled-btn:hover {
  background-color: rgba(221, 216, 196, 0.74);
  border-radius: 10px;
  margin: 10px;
}

.years-input {
  width:45px;
  height: 30px;
  font-size: small;
}

.img-heart {

  margin: 15px;
  &:hover {
    height: 45px;
    color: #84B59F;
  }
}

.mat-button-toggle {
  width: 120px;
  font-size: larger;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mat-button-toggle-group {
  border: none;
}

.mat-button-toggle-checked {
  background-color: #DDD8C4 !important;
}

.mat-button-toggle:hover {
  background-color: hsl(153 25% 61% / 25%);
}

.oglas-content {
  margin-bottom: 15px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 567px;
  height: 166px;
  position: relative;
}

.oglas-content.selected {
  border-color: #84B59F;
  border-style: solid;
}

.img-right-arrow {
  width: 50px;
  height: 50px;
}

img-left-arrow {
  width: 50px;
  height: 50px;
}
