<app-navbar user='neregistrovani'></app-navbar>

<div class="container d-flex flex-column">

  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">Home > </a>
    <p style="color: #84B59F; font-size: larger;"> > Messages
  </div>
  <!-- Breadcrumbs -->

  <div class="d-flex flex-row justify-content-center align-items-center" style=" margin-bottom: 50px; margin-top: 10px">
    <span class="fw-bold fs-2" style="color: #84B59F; margin-right: auto; ">Your messages</span>
    <button class="btn-confirm" [routerLink]="'/jobs'">New chat</button>
  </div>

  <div class="content d-flex flex-row justify-content-between">

    <!-- Messages  -->
    <div class="messages">

      <!-- Seach box  -->
      <div class="search-box mt-4">
        <form class="search-form">
          <input class="form-control" type="text" [(ngModel)]="pretragaNaziv" [ngModelOptions]="{standalone: true}"
                 (ngModelChange)="onSearchChange($event)"
                 placeholder="Search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
      </div>
      <!-- Seach box  -->


      <!--<div class="chat-list">
        <div *ngFor="let chat of chats" class="chat-item">
          <div class="chat-info">
            <div class="chat-name">{{ chat.senderName }} {{ chat.senderSurname }}</div>
            <div class="chat-message">{{ chat.lastMessage | slice:0:30 }}...</div>
          </div>
          <div class="chat-meta">
            <div class="chat-time">{{ formatTime(chat.lastMessageTime) }}</div>
            <div *ngIf="chat.unreadMessages > 0" class="unread-messages">{{ chat.unreadMessages }}</div>
          </div>
        </div>
      </div>-->

      <div class="chat-list">
        <div *ngFor="let chat of chats" class="chat-item"
             [ngClass]="{'selected-chat': chat === selectedChat}"
             (click)="selectChat(chat)">
          <div class="chat-info">
            <div class="d-flex flex-row align-content-center justify-content-between">
              <div class="chat-name">{{ chat.senderName }} {{ chat.senderSurname }}</div>
              <div *ngIf="chat.unreadMessages > 0" class="unread-messages">{{ chat.unreadMessages }}</div>
            </div>

            <div class="chat-message">{{ chat.lastMessage | slice:0:30 }}...</div>
          </div>
          <div class="chat-meta">
            <div class="chat-time">{{ formatTime(chat.lastMessageTime) }}</div>

          </div>
        </div>
      </div>


    </div>
    <!-- Messages  -->


    <!-- Messages  content -->
    <div class="message-container">
      <div class="main-chat" *ngIf="selectedChat">
        <div class="chat-header d-flex flex-row justify-content-between">
          {{ selectedChat.senderName }} {{ selectedChat.senderSurname }}

          <div class="button-section">
            <button type="button" class="btn-confirm" style="height: 30px" data-bs-dismiss="modal">Chat</button>
            <button type="button" class="btn-cancel ms-2" style="height: 30px">Files
            </button>
          </div>
        </div>
        <div class="chat-messages">
          <div *ngFor="let message of selectedChat.messages" class="chat-message-item">
            <span class="message-sender">{{ message.sender }}:</span>
            <span class="message-content">{{ message.content }}</span>
            <span class="message-time">{{ formatTime(message.timestamp) }}</span>
          </div>
        </div>
        <div class="chat-input">
          <input [(ngModel)]="newMessage" placeholder="Type a message..."/>
          <button class="btn-confirm" (click)="sendMessage()">Send</button>
        </div>
      </div>

      <!-- Placeholder for when no chat is selected -->
      <div class="main-chat-placeholder" *ngIf="!selectedChat">
        Select a chat to start messaging
      </div>
    </div>
    <!-- Messages  content -->


  </div>
</div>

<app-footer></app-footer>
