<app-navbar></app-navbar>

<div class="content d-flex flex-column">

  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">{{ 'home' | translate }} > </a>
    <p style="color: #84B59F; font-size: larger;"> > {{ 'my_jobs' | translate }}</p>
  </div>
  <!-- Breadcrumbs -->

  <div class="d-flex flex-row justify-content-center align-items-center" style=" margin-bottom: 10px; margin-top: 10px">
    <span class="fw-bold fs-2" style="color: #84B59F; margin-left: auto; margin-right: auto; ">{{ 'your_job_posts' | translate }}</span>
    <button class="btn-confirm" [routerLink]="'/jobs-add'">{{ 'create_new_job' | translate }}</button>
  </div>

  <div class="d-flex flex-row justify-content-end align-items-center" style="margin-bottom: 50px; margin-top: -10px">
    <button class="btn-confirm" [routerLink]="'/my-jobs'">{{ 'my_jobs' | translate }}</button>
  </div>

  <!-- Filter  -->
  <div class="d-flex flex-row justify-content-around mb-5">

    <div class="me-2">
      <label for="filterDropdown" class="fs-6 me-2">{{ 'experience' | translate }}:</label>
      <select id="filterDropdown" [(ngModel)]="selectedExperience">
        <option value="">{{ 'all' | translate }}</option>
        <option *ngFor="let option of filterListExperience" [value]="option">
          <p> {{ option }}</p>
        </option>
      </select>
    </div>

    <div class="me-2">
      <label for="filterDropdown2" class="fs-6 me-2">{{ 'status' | translate }} :</label>
      <select id="filterDropdown2" [(ngModel)]="selectedStatus">
        <option value="">{{ 'all' | translate }}</option>
        <option *ngFor="let option of filterStatus" [value]="option">
          <p> {{ option }}</p>
        </option>
      </select>
    </div>

    <div class="me-2">
      <label for="filterDropdown3" class="fs-6 me-2">{{ 'location' | translate }} :</label>
      <select id="filterDropdown3" [(ngModel)]="selectedStatus">
        <option value="">{{ 'all' | translate }}</option>
        <option *ngFor="let option of filterLocation" [value]="option">
          <p> {{ option }}</p>
        </option>
      </select>
    </div>

  </div>
  <!-- Filter  -->


  <!-- Search box  -->
  <div class="search-box mt-4">
    <form class="search-form">
      <input class="form-control" type="text" [(ngModel)]="pretragaNaziv" [ngModelOptions]="{standalone: true}"
             (ngModelChange)="onSearchChange($event)"
             [placeholder]="'search_placeholder_job' | translate">
      <i class="fa-solid fa-magnifying-glass"></i>
    </form>
  </div>
  <!-- Search box  -->

  <!-- Oglasi -->
  <div class="oglasi">
    <div class="oglas"
         *ngFor="let oglas of renderOglas() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }"
         [routerLink]="['/jobs/', oglas?.id]">
      <div class="oglas-content d-flex flex-row align-content-center">
        <div class="my-1">
          <div>
               <span *ngIf="razlikaDatuma(oglas) > 0 " class="fs-6 d-flex flex-row justify-content-start ">
                  <div class="status" style="">
                          {{ 'open_until' | translate }}: {{ oglas.rokPrijave | date:'d.M.yyyy' }}
                        </div>
                 </span>
            <span *ngIf="razlikaDatuma(oglas) < 0" class="fs-6 d-flex flex-row justify-content-start ">
                          <div class="status" style=" background-color: lightgray;">
                          {{ 'closed' | translate }}
                        </div>
                  </span>
          </div>
          <span class="fw-bold fs-3 mt-1" style="color: #84B59F">{{ oglas?.nazivPozicije }}</span>
          <br>
          <span class="fw-normal fs-5" *ngFor="let iskustvo of oglas.iskustvo.$values">  {{ iskustvo.naziv }}</span>
          <br>
          <span class="fw-normal fs-6 job-type-location location mt-5 "
                *ngFor="let lokacija of oglas.lokacija.$values">{{ lokacija.naziv }}</span>
        </div>

        <div class="d-flex flex-column justify-content-between " style="padding: 10px; order: 3; flex:2">
          <div>
                     <span *ngIf="calculateNumberOfApplicants(oglas) > 0 "
                           class="fs-6 d-flex flex-row justify-content-end ">
                          <div class="status">
                         {{ 'applicants' | translate }} {{ calculateNumberOfApplicants(oglas) }}
                        </div>
                  </span>

            <span *ngIf="calculateNumberOfApplicants(oglas) == 0 " class="fs-6 d-flex flex-row justify-content-end ">
                          <div class="status" style=" background-color: lightgray;">
                        {{ 'no_applicants' | translate }}
                        </div>
                  </span>
          </div>

          <div class="d-flex flex-row mt-5 justify-content-end">
            <button *ngIf="!oglas.objavljen" type="button" class="btn-danger" (click)="deleteOglas(oglas.id); $event.stopPropagation();">
              {{ 'remove' | translate }}
            </button>

            <button *ngIf="!oglas.objavljen" class="btn-confirm" type="button"
                    (click)="navigateToEditJob(oglas.id)"
                    style="margin-left: 10px">{{ 'edit' | translate }}
            </button>

            <button class="btn-confirm" type="button"
                    style="margin-left: 10px" [routerLink]="['/jobs/', oglas.id]">{{ 'details' | translate }}
            </button>

          </div>
        </div>

        <app-notification-toast></app-notification-toast>
      </div>
    </div>
    <!-- Oglasi -->

    <!-- Pagination -->
    <div *ngIf="imaRezultataPretrage" class="d-flex justify-content-center pe-5">
      <pagination-controls class="pagination ps-0"
                           (pageChange)="pageChangeEvent($event, true)"></pagination-controls>
    </div>
    <!-- Pagination -->

  </div>

  <!-- No search results -->
  <div *ngIf="renderOglas().length == 0  && pretragaNaziv != ''" class="p-4 border border-2 shadow bg-body-tertiary"
       style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; margin-left: 0px; margin-top: 10px">
    <span class="fs-4 mb-4">{{ 'no_results' | translate }} {{ this.pretragaNaziv }}</span> <br>
    <div class="mt-3 fs-6">
      <span>{{ 'search_help' | translate }}</span>
      <ul>
        <li>{{ 'check_typos' | translate }}</li>
        <li>{{ 'try_more_general' | translate }}</li>
        <li>{{ 'try_different_keywords' | translate }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="renderOglas().length == 0  && pretragaNaziv == ''" class="p-4 border border-2 shadow bg-body-tertiary"
       style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; margin-left: 0px; margin-top: 10px">
    <span class="fs-5 mb-4">{{ 'no_match_found' | translate }}</span> <br>
  </div>

</div>

<app-footer></app-footer>
