<app-navbar user='neregistrovani'></app-navbar>


<!-- Pregled kompanije  -->

<div class="d-flex flex-column pregled me-auto ms-auto">
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: large;  text-decoration: none;"
       [routerLink]="['/companies/']">Companies > </a>
    <p style="color: #84B59F; font-size: large;"> > Company details</p>
  </div>
  <div class="pregled-kompanija">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <!--<img class="img-logo" src="../../../../assets/img/kompanija-logo.png" alt="image" loading="lazy">-->
        <div *ngIf="imageUrl">
          <img [src]="imageUrl" class="img-logo" alt="Company Logo"/>
        </div>

        <div class="d-flex flex-column" style="margin-left: 25px; margin-bottom: 5px">
          <span class="fw-bold fs-3 tekst" style="color: #84B59F">{{ kompanija?.naziv }}</span>
          <a class="fw-normal fs-6 py-2" href=" {{ kompanija?.website }}">
            <img style=" height: 15px; width: 15px;" alt="" src="./assets/img/websitelink.png">
            {{ kompanija?.website }}</a>
          <span class="fw-normal fs-5 py-2">{{ kompanija?.brojZaposlenih }} Employees</span>

          <span class="fw-normal fs-5 py-2">
                    <img style=" height: 15px; width: 15px;" alt="" src="../../../../assets/img/location.png">
            {{ kompanija?.lokacija }}</span>
        </div>
        <div style="width: 170px; margin-left: auto;" class="d-flex flex-column justify-content-around">
          <div>
                  <span *ngIf="kompanija?.brojOtvorenihPozicija! > 0"
                        class="fs-6 d-flex flex-row justify-content-end ">
                <div class="open-positions">
                                 Open positions {{ kompanija?.brojOtvorenihPozicija }}
                </div>
              </span>
            <span *ngIf="kompanija?.brojOtvorenihPozicija! == 0"
                  class="fs-6 d-flex flex-row justify-content-end ">
                 <div class="open-positions" style="background-color: lightgray">
                                No open positions
                </div>
              </span>
          </div>
          <div class="d-flex flex-row justify-content-end align-content-center">

            <a href="{{kompanija?.twitter}}">
              <img style=" height: 45px; width: 45px;" alt="{{kompanija?.twitter}}" src="./assets/img/twitter.png">
            </a>


            <a href="{{kompanija?.linkedIn}}">
              <img style=" height: 54px; width: 50px; padding-bottom: 6px" alt="{{kompanija?.linkedIn}}"
                   src="./assets/img/linkedin.png">
            </a>

          </div>

        </div>


      </div>
      <div>
        <br>
        <p class="pregled-naslovi fs-5">{{ kompanija?.kratkiOpis }}</p>
        <br>
        <p class="pregled-naslovi fw-bold fs-6">Description:</p>
        <span>{{ kompanija?.opis }}</span>
        <br> <br>
      </div>
    </div>
    <div class="d-flex flex-row ms-auto mt-5 d-flex justify-content-end">
      <a class="nav-link text-dark pregled-btn d-flex justify-content-center" href="" type="button">Contact!</a>
    </div>
  </div>



  <!-- Treba promijeniti da se prikazuje samo ukoliko ima otvorenih oglasa, u suprotnom neki drugi div -->


  <span class="fw-bold fs-2" style="color: #84B59F; margin: 50px auto;">Open Positions</span>

  <div>

    <!-- Oglasi -->
    <div class=" oglasi">
      <div class="oglas"
           *ngFor="let oglas of oglasi">
        <div class="oglas-content d-flex flex-row">
          <img  [src]="ucitajLogo(oglas?.logo!)" class="img-logo"  alt="image" loading="lazy">
          <div class="my-1">
            <span class="fw-bold fs-3" style="color: #84B59F">{{ oglas.nazivPozicije }}</span>
            <span class="fw-bold deadline pd-4 fs-6"><img src="../../../../assets/img/datum.png" style="height: 35px"
                                                          alt="">{{ oglas.rokPrijave | date:'d.M.yyyy' }}</span>
            <br>
            <span class="fw-normal fs-5">{{ oglas.kompanijaNaziv }}</span>
            <br>
            <span class="fw-normal fs-5" *ngFor="let iskustvo of oglas.iskustvo.$values">  {{ iskustvo.naziv }}</span>
            <br>
            <span class="fw-normal fs-6 job-type-location location"
                  *ngFor="let lokacija of oglas.lokacija.$values">{{ lokacija.naziv }}</span>
          </div>
          <a style="margin-left:auto; margin-top: 100px;">
            <a class="nav-link text-dark pregled-btn d-flex justify-content-center" href=""
               [routerLink]="['/jobs/', oglas?.id]" type="button">Details</a>
          </a>
          <app-notification-toast></app-notification-toast>
        </div>
      </div>
      <!-- Oglasi -->
    </div>
  </div>

  <!-- Pregled kompanije  -->

</div>
<app-footer></app-footer>
