<app-navbar></app-navbar>

<div class="content d-flex flex-column">

  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">Home > </a>
    <p style="color: #84B59F; font-size: larger;"> > My jobs
  </div>
  <!-- Breadcrumbs -->

  <div class="d-flex flex-row justify-content-center align-items-center" style=" margin-bottom: 50px; margin-top: 10px">
    <span class="fw-bold fs-2" style="color: #84B59F; margin-left: auto; margin-right: auto; ">Your job posts</span>
    <button class="btn-confirm" [routerLink]="'/jobs-add'">Create new job</button>
  </div>


  <!-- Filter  -->

  <div class="d-flex flex-row justify-content-around mb-5">

    <div class="me-2">
      <label for="filterDropdown" class="fs-6 me-2">Experience:</label>
      <select id="filterDropdown" [(ngModel)]="selectedExperience">
        <option value="">All</option>
        <option *ngFor="let option of filterListExperience" [value]="option">
          <p> {{ option }}
          </p>
        </option>
      </select>
    </div>

    <div class="me-2">
      <label for="filterDropdown2" class="fs-6 me-2">Status :</label>
      <select id="filterDropdown2" [(ngModel)]="selectedStatus">
        <option value="">All</option>
        <option *ngFor="let option of filterStatus" [value]="option">
          <p> {{ option }}
          </p>
        </option>
      </select>
    </div>

    <div class="me-2">
      <label for="filterDropdown3" class="fs-6 me-2">Location :</label>
      <select id="filterDropdown3" [(ngModel)]="selectedStatus">
        <option value="">All</option>
        <option *ngFor="let option of filterLocation" [value]="option">
          <p> {{ option }}
          </p>
        </option>
      </select>
    </div>

  </div>
  <!-- Filter  -->


  <!-- Seach box  -->
  <div class="search-box mt-4">
    <form class="search-form">
      <input class="form-control" type="text" [(ngModel)]="pretragaNaziv" [ngModelOptions]="{standalone: true}"
             (ngModelChange)="onSearchChange($event)"
             placeholder="Search by position name, experience or location.">
      <i class="fa-solid fa-magnifying-glass"></i>
    </form>
  </div>
  <!-- Seach box  -->





  <!-- Oglasi -->
  <div class=" oglasi">
    <div class="oglas"
         *ngFor="let oglas of renderOglas() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }"
         [routerLink]="['/jobs/', oglas?.id]">
      <div class="oglas-content d-flex flex-row align-content-center">
        <div class="my-1">
          <div>
               <span *ngIf="razlikaDatuma(oglas) > 0 " class="fs-6 d-flex flex-row justify-content-start ">

                  <div class="status" style="">
                          Open until: {{ oglas.rokPrijave | date:'d.M.yyyy' }}
                        </div>

                 </span>
            <span *ngIf="razlikaDatuma(oglas) < 0" class="fs-6 d-flex flex-row justify-content-start ">
                          <div class="status" style=" background-color: lightgray;">
                          Closed
                        </div>
                  </span>
          </div>
          <span class="fw-bold fs-3 mt-1" style="color: #84B59F">{{ oglas?.nazivPozicije }}</span>
          <br>
          <span class="fw-normal fs-5" *ngFor="let iskustvo of oglas.iskustvo.$values">  {{ iskustvo.naziv }}</span>
          <br>
          <span class="fw-normal fs-6 job-type-location location mt-5 "
                *ngFor="let lokacija of oglas.lokacija.$values">{{ lokacija.naziv }}</span>
        </div>

        <div class="d-flex flex-column justify-content-between " style="padding: 10px; order: 3; flex:2">


          <div>
                     <span *ngIf="calculateNumberOfApplicants(oglas) > 0 "
                           class="fs-6 d-flex flex-row justify-content-end ">
                          <div class="status">
                         Applicants {{ calculateNumberOfApplicants(oglas) }}
                        </div>
                  </span>

            <span *ngIf="calculateNumberOfApplicants(oglas) == 0 " class="fs-6 d-flex flex-row justify-content-end ">
                          <div class="status" style=" background-color: lightgray;">
                        No applicants
                        </div>
                  </span>
          </div>


          <div class="d-flex flex-row mt-5 justify-content-end">
            <button *ngIf="!oglas.objavljen" type="button" class="btn-danger">
              Remove
            </button>

            <button *ngIf="!oglas.objavljen" class="btn-confirm" type="button"
                    style="margin-left: 10px">Edit
            </button>


            <button class="btn-confirm" type="button"
                    style="margin-left: 10px" [routerLink]="['/jobs/', oglas.id]">Details
            </button>

          </div>
        </div>


        <app-notification-toast></app-notification-toast>
      </div>
    </div>
    <!-- Oglasi -->

    <!-- Paginacija -->
    <div *ngIf="imaRezultataPretrage" class="d-flex justify-content-center pe-5">
      <pagination-controls class="pagination ps-0"
                           (pageChange)="pageChangeEvent($event, true)"></pagination-controls>
    </div>
    <!-- Paginacija -->

  </div>


  <!-- Nema rezultata pretrage  -->
  <div *ngIf="renderOglas().length == 0  && pretragaNaziv != ''" class="p-4 border border-2 shadow bg-body-tertiary"
       style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; margin-left: 0px; margin-top: 10px">
    <span class="fs-4 mb-4">No results for {{ this.pretragaNaziv }}</span> <br>
    <div class="mt-3 fs-6">
      <span>Search Help</span>
      <ul>
        <li>Check your search for typos and spelling errors.</li>
        <li>Try more general keywords.</li>
        <li>Try different keywords.</li>
      </ul>
    </div>
  </div>

  <div *ngIf="renderOglas().length == 0  && pretragaNaziv == ''" class="p-4 border border-2 shadow bg-body-tertiary"
       style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; margin-left: 0px; margin-top: 10px">
    <span class="fs-5 mb-4">We're sorry. We were not able to find a match.</span> <br>
  </div>

</div>


<app-footer></app-footer>
