.pregled-breadcrumbs {
  padding: 0;
}

.content {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding-bottom: 100px;
}

.search-box {
  padding: 4px 55px 4px 15px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;

  &.hovered,
  &:hover,
  &:active {
    border: 1px solid #aaa;
  }

  input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
    }
  }
}


.oglas-content {
  margin-bottom: 15px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 166px;
  padding-left: 15px

}

.job-type-location {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
}

.job-type{
  margin-left: 25px ;
}

.location{
  margin-right: 10px;
}

.img-logo {
  width: 80px;
  height: 80px;
  padding: 15px;
}

.btn-confirm {
  width: 130px;
}

.closed {
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
}

.status {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
}
