<app-navbar></app-navbar>

<div class="content d-flex flex-column">
  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">{{ 'HOME' | translate }} > </a>
    <p style="color: #84B59F; font-size: larger;"> > {{ 'SAVED' | translate }}</p>
  </div>
  <!-- Breadcrumbs -->

  <div class="d-flex flex-row justify-content-center align-items-center" style=" margin-bottom: 50px; margin-top: 10px">
    <span class="fw-bold fs-2" style="color: #84B59F; margin-left: auto; margin-right: auto; ">{{ 'SAVED' | translate }}</span>
  </div>

  <!-- Seach box -->
  <div class="search-box">
    <form class="search-form">
      <input class="form-control" type="text" [(ngModel)]="pretragaNaziv" [ngModelOptions]="{standalone: true}"
             (ngModelChange)="onSearchChange($event)"
             [placeholder]="'SEARCH_PLACEHOLDER_APPLICANT' | translate">
      <i class="fa-solid fa-magnifying-glass"></i>
    </form>
  </div>
  <!-- Seach box -->

  <!-- Candidates Section -->
  <div class="kandidati-section d-flex flex-row justify-content-between">
    <!-- Candidates -->
    <div class="kandidati d-flex flex-column">
      <div class="kandidat"
           *ngFor="let kandidat of renderKandidati() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }">
        <div class="kandidat-content d-flex flex-row justify-content-between align-items-center">
          <div class="d-flex flex-column ps-4">
            <div class="fw-bold fs-3" style="color: #84B59F">
              <span> {{ kandidat.ime }} </span>
              <span> {{ kandidat.prezime }} </span>
            </div>
            <span class="fw-normal fs-5">{{ kandidat.zvanje }}</span>
            <div class="d-flex flex-row align-items-center mt-1">
              <img style=" height: 15px; width: 15px;" alt="" src="../../../../assets/img/sat2.png">
              <span class="fw-normal ms-1" style="font-size: 13px;">{{ 'APPLIED_ON' | translate }} {{ kandidat.datumPrijave | date:'d.M.yyyy' }} {{ 'FOR' | translate }} {{ kandidat.nazivPozicije }}</span>
            </div>
          </div>

          <div class="d-flex flex-column ms-auto pe-4 align-content-between">
            <div>
               <span *ngIf="kandidat?.status != '' " class="fs-6 d-flex flex-row justify-content-end">
                <div class="status">
                                 {{ kandidat?.status }}
                </div>
                 </span>
              <span *ngIf="kandidat?.status == '' " class="fs-6 d-flex flex-row justify-content-end">
                 <div class="status" style="background-color: lightgray">
                                {{ 'NO_STATUS' | translate }}
                 </div>
                  </span>
            </div>

            <div class="d-flex flex-row mt-5">
              <button type="button" class="btn-danger" (click)="openUnSaveModal(kandidat)">
                {{ 'REMOVE' | translate }}
              </button>

              <button class="btn-confirm" type="button" style="margin-left: 10px" [routerLink]="['/cv-details/', kandidat?.cvId]">{{ 'CONTACT' | translate }}</button>

              <button class="btn-confirm" type="button" style="margin-left: 10px" [routerLink]="['/cv-details/', kandidat?.cvId]">{{ 'DETAILS' | translate }}</button>
            </div>

          </div>

          <app-notification-toast></app-notification-toast>

        </div>
      </div>

      <!-- Pagination -->
      <div *ngIf="imaRezultataPretrage" class="d-flex justify-content-center pe-5">
        <pagination-controls class="pagination ps-0" (pageChange)="pageChangeEvent($event, true)"></pagination-controls>
      </div>
      <!-- Pagination -->

    </div>
    <!-- Candidates -->
  </div>

  <!-- No results for search -->
  <div *ngIf="!imaRezultataPretrage && pretragaNaziv != ''" class="p-4 border border-2 shadow bg-body-tertiary" style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; width: 100%; margin: 100px auto 300px;">
    <span class="fs-4 mb-4">{{ 'NO_RESULTS' | translate }} {{ this.pretragaNaziv }}</span> <br>
    <div class="mt-3 fs-6">
      <span>{{ 'SEARCH_HELP' | translate }}</span>
      <ul>
        <li>{{ 'CHECK_TYPOS' | translate }}</li>
        <li>{{ 'TRY_GENERAL' | translate }}</li>
        <li>{{ 'TRY_DIFFERENT' | translate }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="!imaRezultataPretrage && pretragaNaziv == ''" class="p-4 border border-2 shadow bg-body-tertiary" style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; width: 100%; margin: 100px auto 300px;">
    <span class="fs-5 mb-4">{{ 'NO_SAVED' | translate }}</span> <br>
    <button class="btn-confirm" type="button" style="width: 160px" [routerLink]="['/applicants/']">{{ 'EXPLORE_APPLICANTS' | translate }}</button>
  </div>

</div>

<app-modal modalId="unsaveModal" title="{{ 'CONFIRM_UNSAVE' | translate }}"
           body="{{ 'CONFIRM_UNSAVE_BODY' | translate }}"
           [buttons]="unsaveButtons">
</app-modal>

<app-footer></app-footer>
