<app-navbar user='neregistrovani'></app-navbar>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Filter & Sort -->
<div class="main d-flex flex-row">
  <div style="background-color:#DDD8C4; min-width: 220px; width: 15%; height: 1500px; " class="filter-search-section">
    <!-- Filter-->
    <div class="filer-section">
      <div class="d-flex flex-row ps-3 pt-5">
        <img class="mt-2" style="width: 25px; height: 30px;" src="../../../assets/img/filter.png" alt="">
        <p class="fs-3 fw-bold ps-2">Filter</p>
      </div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <!-- Location -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <a class="accordion-button nav-link text-dark collapsed" type="button" data-bs-toggle="collapse"
               data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
               aria-controls="panelsStayOpen-collapseOne">
              Location
            </a>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
               aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="locationFilter('Mostar')"
                       id="flexCheckDefault-Mostar">
                <label class="form-check-label" for="flexCheckDefault-Mostar">
                  Mostar
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="locationFilter('Sarajevo')"
                       id="flexCheckChecked-Sarajevo">
                <label class="form-check-label" for="flexCheckChecked-Sarajevo">
                  Sarajevo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="locationFilter('Jablanica')"
                       id="flexCheckChecked-Jablanica">
                <label class="form-check-label" for="flexCheckChecked-Jablanica">
                  Jablanica
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="locationFilter('Remote')"
                       id="flexCheckChecked-Remote">
                <label class="form-check-label" for="flexCheckChecked-Remote">
                  Remote
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Job Type -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <a class="accordion-button nav-link text-dark collapsed" type="button" data-bs-toggle="collapse"
               data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
               aria-controls="panelsStayOpen-collapseThree">
              Job Type
            </a>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
               aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="jobTypeFilter('Full Time')"
                       id="flexCheckChecked-full-time">
                <label class="form-check-label" for="flexCheckChecked-full-time">
                  Full Time
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="jobTypeFilter('Part Time')"
                       id="flexCheckChecked-part-time">
                <label class="form-check-label" for="flexCheckChecked-part-time">
                  Part Time
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="jobTypeFilter('Internship')"
                       id="flexCheckChecked-internship">
                <label class="form-check-label" for="flexCheckChecked-internship">
                  Internship
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <a class="accordion-button nav-link text-dark collapsed" type="button" data-bs-toggle="collapse"
               data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
               aria-controls="panelsStayOpen-collapseTwo">
              Experience
            </a>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
               aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-Junior"
                       (change)="experienceFilter('Junior')">
                <label class="form-check-label" for="flexCheckDefault-Junior">
                  Junior
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked-Medior"
                       (change)="experienceFilter('Medior')">
                <label class="form-check-label" for="flexCheckChecked-Medior">
                  Medior
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked-Senior"
                       (change)="experienceFilter('Senior')">
                <label class="form-check-label" for="flexCheckChecked-Senior">
                  Senior
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Years of Experience -->
        <div class="ps-3 pt-3">
          <div class="d-flex flex-column">
            <p class="text-dark ps-1 fs-6">Years of Experience</p>
            <div class="ps-2">
              <input min="0" max="20" value="0" type="number"
                     class="form-control form-icon-trailing ps-1 pe-0 years-input" [(ngModel)]="godineIskustva"
                     (ngModelChange)="onYearsOfExperienceChange($event)"/>
            </div>
          </div>
          <div class="ps-2 pt-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadio-experience"
                     id="flexRadioAscending-experience" checked (change)="promijeniSortiranjeZaGodine()">
              <label class="form-check-label" for="flexRadioAscending-experience">
                Ascending
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadio-experience"
                     id="flexRadioDescending-experience" (change)="promijeniSortiranjeZaGodine()">
              <label class="form-check-label" for="flexRadioDescending-experience">
                Descending
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sort-->
    <div class="sort-section flex-1">
      <div class="d-flex flex-row ps-3 pt-5">
        <img style="width: 30px;height: 30px; padding-top: 3px;" src="../../../assets/img/sort.png" alt="">
        <p class="fs-3 fw-bold ps-2">Sort</p>
      </div>
      <div class="ps-3">
        <div class="pt-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked-days-left"
                   (change)="sortirajPoDanima()">
            <label class="form-check-label" for="flexCheckChecked-days-left">
              Days Left
            </label>
          </div>
          <div *ngIf="isDaysChecked" class="ps-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadio-days" id="flexRadioAscending-days" checked
                     (change)="promijeniSortiranjeZaDane()">
              <label class="form-check-label" for="flexRadioAscending-days">
                Ascending
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadio-days" id="flexRadioDescending-days"
                     (change)="promijeniSortiranjeZaDane()">
              <label class="form-check-label" for="flexRadioDescending-days">
                Descending
              </label>
            </div>
          </div>
        </div>
        <div class="form-check pt-2">
          <input class="form-check-input" type="checkbox" value="" (change)="sortirajPoPoziciji()"
                 id="flexCheckChecked-job-title">
          <label class="form-check-label" for="flexCheckChecked-job-title">
            Job Title
          </label>
        </div>
        <div class="form-check pt-2">
          <input class="form-check-input" type="checkbox" value="" (change)="sortirajPoKompaniji()"
                 id="flexCheckChecked-company-name">
          <label class="form-check-label" for="flexCheckChecked-company-name">
            Company Name
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- Filter & Sort -->

  <!-- Oglasi-prikaz -->
  <div class="prikaz-section d-flex flex-column" style=" margin-right:auto; margin-left: auto">

    <!-- Message Section -->
    <div class="message-section">
      Explore the latest opportunities in the IT industry and find your perfect job match today!
    </div>
    <!-- Message Section -->

    <!-- Search box -->
    <div class="container ">
      <div class="search-box">
        <form class="search-form">
          <input class="form-control" type="text" [(ngModel)]="pretragaNaziv" [ngModelOptions]="{standalone: true}"
                 (ngModelChange)="onSearchChange($event)"
                 placeholder="Search by position name or company name.">
          <i class="fa-solid fa-magnifying-glass"></i>
        </form>
      </div>
    </div>
    <!-- Search box -->

    <div class="d-flex flex-row  oglas-detalji-prikaz">
      <!-- Oglasi -->
      <div class=" oglasi">
        <div class="oglas"
             *ngFor="let oglas of filtriraniOglasi() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }"
             (click)="prikazDetalja(oglas)">
          <div class="oglas-content d-flex flex-row" [class.selected]="oglas === oglasZaPrikaz">
            <img [src]="ucitajLogo(oglas?.logo!)" class="img-logo" alt="image" loading="lazy">
            <div class="my-1">
              <span class="fw-bold fs-3" style="color: #84B59F">{{ oglas.nazivPozicije }}</span>
              <span class="fw-bold deadline pd-4 fs-6"><img src="../../../assets/img/datum.png" style="height: 35px"
                                                            alt="">{{ oglas.rokPrijave | date:'d.M.yyyy' }}</span>
              <br>
              <span class="fw-normal fs-5">{{ oglas.kompanijaNaziv }}</span>
              <br>
              <span class="fw-normal fs-5" *ngFor="let iskustvo of oglas.iskustvo.$values">  {{ iskustvo.naziv }}</span>
              <br>
              <span class="fw-normal fs-6 job-type-location location"
                    *ngFor="let lokacija of oglas.lokacija.$values">{{ lokacija.naziv }}</span>
            </div>

            <a *ngIf="user && user?.role == 'Kandidat'" (click)="promijeniStatus(oglas)"
               style="margin-left: auto; margin-top: 120px; margin-right: 10px">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px" height="25px">
                <path [attr.fill]="oglas.spasen ? '#FF0000' : '#999999'"
                      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
              </svg>
            </a>

            <app-notification-toast></app-notification-toast>
          </div>
        </div>
        <!-- Oglasi -->

        <!-- Paginacija -->
        <div *ngIf="imaRezultataPretrage" class="d-flex justify-content-center pe-5">
          <pagination-controls class="pagination ps-0"
                               (pageChange)="pageChangeEvent($event, true)"></pagination-controls>
        </div>
        <!-- Paginacija -->

      </div>

      <!-- Pregled oglasa  -->
      <div *ngIf="imaRezultataPretrage" class="pregled ms-4 mt-0">
        <div class="pregled-content shadow p-3 mb-4 mt-0">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <img [src]="ucitajLogo(odabraniOglas?.logo!)" class="img-logo" alt="image" loading="lazy">
              <div class="d-flex flex-column py-4">
                <span class="fw-bold fs-3 " style="color: #84B59F">{{ odabraniOglas?.nazivPozicije }}</span>
                <span class="fw-normal fs-5 py-2">{{ odabraniOglas?.kompanijaNaziv }}</span>
              </div>
              <div style="width: 170px; margin-left: auto;">
                <div
                  style="background-color: #84B59F; border-radius: 5px; width: 150px; padding: 5px; margin-bottom: 20px">
                  Minimum years of experience {{ odabraniOglas?.opisOglasa!.minimumGodinaIskustva }}
                </div>
                <div class="fw-bold fs-6" style="width: 150px; "><img style="width: 30px"
                                                                      src="../../../assets/img/sat.png"> {{ this.razlikaDatuma(this.odabraniOglas!) }}
                  days left
                </div>
              </div>
            </div>
            <div class="d-flex flex-row mt-4">
              <div>
                <div class="fw-normal fs-6 mb-2">Job Type</div>
                <span class="fw-normal fs-6 p-1"
                      style="background-color: #84B59F; border-radius: 5px; width: 80px">{{ odabraniOglas?.tipPosla }}</span>
              </div>
              <div class="ms-4">
                <div class="fw-normal fs-6 mb-2">Location</div>
                <span class="fw-normal fs-6 p-1 me-2" style="background-color: #84B59F; border-radius: 5px; width: 80px"
                      *ngFor="let lokacija of odabraniOglas?.lokacija?.$values">{{ lokacija.naziv }}</span>
              </div>
              <div class="ms-5">
                <div class="d-flex flex-row p-1">
                  <img class="p-1" src="../../../assets/img/datum.png" style="height: 35px" alt="image">
                  <div class="fw-bold fs-6 p-1">Published</div>
                  <img class="p-1" style="height: 30px" src="../../../assets/img/linija.png" alt="image">
                  <div class="fw-bold fs-6 p-1">{{ odabraniOglas?.datumObjave | date:'d.M.yyyy' }}</div>
                </div>
                <div class="d-flex flex-row p-1">
                  <img class="p-1" src="../../../assets/img/datum.png" style="height: 35px" alt="image">
                  <div class="fw-bold fs-6 p-1" style="width: 100px">Application deadline</div>
                  <img class="p-1" style="height: 30px" src="../../../assets/img/linija.png" alt="image">
                  <div class="fw-bold fs-6 p-1">{{ odabraniOglas?.rokPrijave | date:'d.M.yyyy' }}</div>
                </div>
              </div>
            </div>

            <div>
              <br>
              <p class="pregled-naslovi fw-bold fs-6">Job Description:</p>
              <span>{{ odabraniOglas?.opisOglasa!.opisPozicije }}</span>
              <br> <br>
              <p class="pregled-naslovi fw-bold fs-6">Skills:</p>
              <span>{{ odabraniOglas?.opisOglasa!.vjestine }}</span>
            </div>
            <div class="d-flex flex-row me-auto ms-auto mt-3">
              <a *ngIf="user?.role == 'Kandidat'" class="nav-link text-dark d-flex justify-content-center pregled-btn "
                 type="button"
                 (click)="openCVChooseModal(odabraniOglas?.id!)">Apply</a>
              <a class="nav-link text-dark d-flex justify-content-center pregled-btn" type="button"
                 [routerLink]="['/jobs/', odabraniOglas?.id]">Details</a>
            </div>
            <div class="d-flex flex-row mt-4 mb-4">
              <div *ngIf="!noPreviousElement" class="img-left-arrow d-flex justify-content-center">
                <img src="../../../assets/img/left-arrow.png" alt="" (click)="ucitajPrethodniOglas()">
              </div>
              <div *ngIf="!noNextElement" class="img-right-arrow d-flex justify-content-center">
                <img src="../../../assets/img/right-arrow.png" alt="" (click)="ucitajSljedeciOglas()">
              </div>

            </div>

          </div>
        </div>
      </div>
      <!-- Pregled oglasa  -->

    </div>

    <!-- Nema rezultata pretrage  -->
    <div *ngIf="!imaRezultataPretrage && pretragaNaziv != ''" class="p-4 border border-2 shadow bg-body-tertiary"
         style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; width: 80%; margin-left: 0px; margin-top: 10px">
      <span class="fs-4 mb-4">No results for {{ this.pretragaNaziv }}</span> <br>
      <div class="mt-3 fs-6">
        <span>Search Help</span>
        <ul>
          <li>Check your search for typos and spelling errors.</li>
          <li>Try more general keywords.</li>
          <li>Try different keywords.</li>
        </ul>
      </div>
    </div>


    <div *ngIf="!imaRezultataPretrage && pretragaNaziv == ''" class="p-4 border border-2 shadow bg-body-tertiary"
         style="border-color: #84B59F; border-width: 10px; background-color: #fff; border-radius: 15px; width: 80%; margin-left: 0px; margin-top: 10px">
      <span class="fs-5 mb-4">We're sorry. We were not able to find a match.</span> <br>
    </div>

    <!-- Nema rezultata pretrage  -->

  </div>
  <!-- Oglasi-prikaz -->

</div>

<app-modal
  modalId="chooseCVModal"
  title="Choose CV"
  body="Choose CV you want to apply to job with."
  [buttons]="chooseCVButtons"
>
  <div *ngIf="cv.length > 0">
    <div *ngFor="let cv of cv" (click)="selectCV(cv)">
      <div class="cv-content d-flex flex-row justify-content-between align-items-center"
           [class.selected]="cvIdApply === cv.id">
        <div class="ms-4">

          <span class="fw-bold fs-6" style="color: #84B59F">{{ cv.naziv }}</span>

        </div>

        <div>
               <span *ngIf="cv.objavljen" class="fs-7 d-flex flex-row">
                <div class="published">
                                 Published
                </div>
              </span>
          <span *ngIf="!cv.objavljen" class="fs-6 d-flex flex-row">
                <div class="published" style="background-color: lightgray;">
                                 Draft
                </div>
              </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div *ngIf="cvIdApply == null" style="color: red">
      You haven't choosen CV for your application.
    </div>
  </div>
</app-modal>

<app-modal
  modalId="applyModal"
  title="Confirm Application"
  body="Are you sure you want to apply to this job with CV {{ this.selectedCV?.naziv }}?"
  [buttons]="applyButtons"
></app-modal>


<app-footer></app-footer>


