*{
  font-family: "Noto Sans", Helvetica;
}

.btn {
  background-color: #84B59F;
  padding: 5px;
  border-radius: 10px;
  width: 120px
}

.btn:hover
{
  color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-bar {
  background-color: #FFFFFF;
}

.section1, .section2, .section3 {
  padding: 50px;
  margin: auto;
  order: 1;
  flex: 4;
}

#carouselExampleInterval {
  width: 80%;
  background-color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top:170px;
  margin-left: auto;
  margin-right: auto;

}


#naslov-underline{
  margin-top: -2px;
  margin-left: 18px;
  width: 43px;
  height: 3px;
  background-color: #1d7b4f;
}

.text-underline
{
  text-decoration-color: #84B59F;
  text-decoration-line: underline;
}

.bgPage{
  margin-top:-40px;
  /*background: linear-gradient(180deg, rgba(132, 181, 159, 0.86) 0%, #EFEFEF 100%);*/
  background-color: #EFEFEF;
}

.bgCarousel{
  background: none rgba(255, 255, 255, 0);
}

.img{
  margin-right: 20px;
  width: 400px;
}

.btn2{
  height: 50px;
  width: 200px;
  color: #EFEFEF;
  background-image: linear-gradient(#84B59F, rgba(163, 201, 168, 0.31));
  border-radius: 30px;
  transition: all .35s;
}

.btn2:hover{
  border:1px solid rgba(255, 255, 255, 0.64);
  transition:all .35s;
  box-shadow:  0 1rem 3rem rgba(0,0,0, .175);;
}

.icon
{
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
  background-color: transparent;
}

.tekst{
  width: 90%;
}

.tekst-dio {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 20px;
  line-height: 30px;
}

.footer{
  height: 130px;
  background: linear-gradient(360deg, rgba(132, 181, 159, 0.86) 0%, #EFEFEF 100%);
  position: relative;
  margin-top: 50px;
}

.secondPartHeader{
  color: #84B59F;
}

.copyright{
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slika {
  order: 2;
  flex: 1;
  padding-left: 20px;
}

.btn-confirm {
  width: 160px;
}

#aboutUs {
  padding-top: 85px;
  margin-top: 80px;
}


