.mat-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  width: 100%;
}

.mat-dialog-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.mat-dialog-content {
  font-size: 18px;
  margin-bottom: 20px;
}

.mat-dialog-actions {
  justify-content: center;
}
