<form *ngIf="!isRegisterDetails" class="register-form form-grid" #f="ngForm" (ngSubmit)="f.form.valid && showRegisterDetails()">
  <div  class="register-container">

    <!-- First column -->
    <div class="firstpart">

      <div class="naslov fs-1 fw-bold p-1 bd-highlight">
        <a class="nav-link active text-dark fs-1 fw-bold "
           [routerLink]="'/home'">{{ 'COMPANY_SEARCH' | translate }}</a>
        <hr class="naslov-underline">
      </div>

      <div class="form-group">
        <label for="naziv" class="required">{{ 'COMPANY_NAME' | translate }}</label>
        <input
          type="text"
          class="form-control"
          name="naziv" id="naziv"
          [(ngModel)]="form.naziv"
          required
          minlength="3"
          maxlength="30"
          placeholder="{{ 'ENTER_COMPANY_NAME' | translate }}"
          #naziv="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && naziv.errors }"
        />
        <div *ngIf="naziv.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="naziv.errors['required']">{{ 'NAME_REQUIRED' | translate }}</div>
          <div *ngIf="naziv.errors['minlength']">{{ 'NAME_MIN_LENGTH' | translate }}</div>
          <div *ngIf="naziv.errors['maxlength']">{{ 'NAME_MAX_LENGTH' | translate }}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="godinaOsnivanja" class="required">{{ 'YEAR_FOUNDED' | translate }}</label>
        <select
          class="form-control"
          name="godinaOsnivanja" id="godinaOsnivanja"
          [(ngModel)]="form.godinaOsnivanja"
          required
          #godinaOsnivanja="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && godinaOsnivanja.errors }"
        >
          <option disabled selected>{{ 'SELECT_YEAR' | translate }}</option>
          <option *ngFor="let year of godine" [value]="year">{{ year }}</option>
        </select>
        <div *ngIf="godinaOsnivanja.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="godinaOsnivanja.errors['required']">{{ 'YEAR_REQUIRED' | translate }}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="lokacija" class="required">{{ 'LOCATION' | translate }}</label>
        <input
          type="text"
          class="form-control"
          name="lokacija" id="lokacija"
          [(ngModel)]="form.lokacija"
          required
          #lokacija="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && lokacija.errors }"
        />
        <div *ngIf="lokacija.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="lokacija.errors['required']">{{ 'LOCATION_REQUIRED' | translate }}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="brojZaposlenih" class="required">{{ 'NUMBER_OF_EMPLOYEES' | translate }}</label>
        <select
          class="form-control"
          name="brojZaposlenih" id="brojZaposlenih"
          [(ngModel)]="form.brojZaposlenih"
          required
          #brojZaposlenih="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && brojZaposlenih.errors }"
        >
          <option value="" disabled selected>{{ 'SELECT_EMPLOYEE_NUMBER' | translate }}</option>
          <option *ngFor="let number of brojZaposlenihRange" [value]="number">{{ number }}</option>
        </select>
        <div *ngIf="brojZaposlenih.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="brojZaposlenih.errors['required']">{{ 'EMPLOYEES_REQUIRED' | translate }}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="logo" class="required">{{ 'UPLOAD_LOGO' | translate }}</label>
        <input
          type="file"
          class="form-control-file"
          id="logo"
          (change)="onFileChange($event)"
          style="display: block"
        />
        <div *ngIf="selectedImage">
          <img [src]="selectedImage" alt="Selected Logo" style="width: 150px; height: auto; margin-top: 15px"/>
        </div>
      </div>

    </div>
    <!-- First column -->

    <!-- Second column -->
    <div class="secondpart">

      <div class="form-group">
        <label for="website">{{ 'WEBSITE' | translate }}</label>
        <input
          type="url"
          class="form-control"
          name="website" id="website"
          [(ngModel)]="form.website"
          placeholder="{{ 'WEBSITE_PLACEHOLDER' | translate }}"
          #website="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && website.errors }"
        />
      </div>

      <div class="form-group">
        <label for="linkedin">{{ 'LINKEDIN' | translate }}</label>
        <input
          type="url"
          class="form-control"
          name="linkedin" id="linkedin"
          [(ngModel)]="form.linkedin"
          placeholder="{{ 'LINKEDIN_PLACEHOLDER' | translate }}"
          #linkedin="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && linkedin.errors }"
        />
      </div>

      <div class="form-group">
        <label for="twitter">{{ 'TWITTER' | translate }}</label>
        <input
          type="url"
          class="form-control"
          name="twitter" id="twitter"
          [(ngModel)]="form.twitter"
          placeholder="{{ 'TWITTER_PLACEHOLDER' | translate }}"
          #twitter="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && twitter.errors }"
        />
      </div>

      <div class="form-group d-flex justify-content-between">
        <button class="btn-confirm" (click)="triggerEvent()">{{ 'BACK' | translate }}</button>
        <button class="btn-confirm">{{ 'NEXT' | translate }}</button>
      </div>

    </div>
    <!-- Second column -->

  </div>

</form>

<div *ngIf="isRegisterDetails" class="register-form">
  <div class="register-container-details">
    <app-signup-kompanija-opis [kompanija]="kompanija" (customEvent)="showRegisterDetails()"></app-signup-kompanija-opis>
  </div>
</div>
