<app-navbar user='neregistrovani'></app-navbar>

<div class="main">

  <div class="headline">
    <h3 class="fw-bold">Account details </h3>
    <hr class="text-underline">
  </div>

  <div class="container">
    <form [formGroup]="companyForm" class="form-grid" (ngSubmit)="save()" autocomplete="off">

      <div class="d-flex flex-row" style="width: 80%; padding: 10px">

        <div class="mt-2 mb-4 ">
          <img *ngIf="logoPreview" [src]="logoPreview" alt="Company Logo" style="width: 150px; height: auto;">

          <label for="logo" class=" btn btn-confirm mt-2">
            <input id="logo" type="file" (change)="onLogoChange($event)">
            Change Logo
          </label>
        </div>


        <div class="ms-5">
          <label class="fs-5">Company Name</label>
          <input formControlName="companyName" type="text" class="form-control"
                 [class.is-invalid]="submitted && companyForm.get('companyName')?.errors">
          <span class="text-danger" *ngIf="submitted && companyForm.get('companyName')?.hasError('required')">
                        Company Name is required!
                    </span>
          <span class="text-danger" *ngIf="submitted && companyForm.get('companyName')?.hasError('min')">
                       Company Name be at least 3 characters!
                    </span>
          <span class="text-danger" *ngIf="submitted && companyForm.get('companyName')?.hasError('max')">
                        Company Name be less than 30 characters!
                    </span>
        </div>


      </div>

      <div class="content">

        <div class="firstpart">

          <div class="mt-2 mb-4">
            <label>Username</label>
            <input type="text" [value]=loggedCompany?.userName class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>Email</label>
            <input type="text" [value]=loggedCompany?.email class="form-control" disabled>
          </div>


          <div class="mt-2 mb-4">
            <label>Year Founded</label>
            <input type="text" [value]=loggedCompany?.godinaOsnivanja class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>Location</label>
            <input formControlName="location" type="text" class="form-control"
                   [class.is-invalid]="submitted && companyForm.get('location')?.errors">
            <span class="text-danger" *ngIf="submitted && companyForm.get('location')?.hasError('required')">
                        Location is required!
                    </span>
          </div>

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="secondpart">

          <div class="mt-2 mb-4">
            <label>Number of Employees</label>
            <select formControlName="numberOfEmployees" class="form-control"
                    [class.is-invalid]="submitted && companyForm.get('numberOfEmployees')?.errors">
              <option *ngFor="let option of numberOfEmployeesRange" [value]="option">
                {{ option }}
              </option>
            </select>
            <span class="text-danger" *ngIf="submitted && companyForm.get('numberOfEmployees')?.hasError('required')">
                  Number of Employees is required!
            </span>
          </div>

          <div class="mt-2 mb-4">
            <label>Website</label>
            <input formControlName="website" type="text" class="form-control">
          </div>

          <div class="mt-2 mb-4">
            <label>LinkedIn</label>
            <input formControlName="linkedin" type="text" class="form-control">
          </div>


          <div class="mt-2 mb-4">
            <label>Twitter</label>
            <input formControlName="twitter" type="text" class="form-control">
          </div>

        </div>
        <!-- Second column -->

      </div>

      <div class="d-flex flex-row">

        <div class="mt-2 mb-4" style="width: 100%;">
          <label>Short Description</label>
          <textarea formControlName="shortDecription" type="text" class="form-control" rows="3"
                    [class.is-invalid]="submitted && companyForm.get('shortDecription')?.errors"> </textarea>
          <span class="text-danger" *ngIf="submitted && companyForm.get('shortDecription')?.hasError('required')">
                        Short Description is required!
                    </span>
        </div>

      </div>

      <div class="d-flex flex-row">

        <div class="mt-2 mb-4" style="width: 100%;">
          <label>Description</label>
          <textarea #textareaElement formControlName="decription" type="text" class="form-control"
                    (input)="adjustTextareaHeight(textareaElement)">
                    [class.is-invalid]="submitted && companyForm.get('decription')?.errors"> </textarea>
          <span class="text-danger" *ngIf="submitted && companyForm.get('decription')?.hasError('required')">
                        Description is required!
                    </span>
        </div>

      </div>


      <div class="form-group d-flex flex-row justify-content-between">

        <div>
          <button type="button" class="btn-danger" style="width: 120px" (click)="openDeleteModal()">Delete account
          </button>
        </div>

        <div class="d-flex flex-row">
          <button type="button" class="btn-cancel" (click)="cancel()">Cancel</button>
          <button type="button" class="btn-confirm ms-2" (click)="openSaveModal()">Save change</button>
        </div>

      </div>

      <app-notification-toast></app-notification-toast>

    </form>
  </div>
</div>


<app-modal
  modalId="deleteModal"
  title="Delete Account"
  body="Are you sure you want to delete account?"
  [buttons]="deleteButtons"
></app-modal>

<app-modal
  modalId="saveModal"
  title="Confirm Changes"
  body=" Are you sure you want to save changes?"
  [buttons]="saveButtons"
></app-modal>







