<app-navbar></app-navbar>

<div class="main">

  <div class="section-headline">
    <h3 class="fw-bold">{{ 'accountDetails' | translate }} </h3>
    <hr class="text-underline">
  </div>

  <div class="container">

    <!-- Two-factor authentication manage -->
    <div class="two-factor-auth ms-2">
      <button
        (click)="toggle2FA()"
        [ngClass]="{'enabled': is2FAEnabled, 'disabled': !is2FAEnabled}"
      >
        {{ is2FAEnabled ? ('disable2FA' | translate) : ('enable2FA' | translate) }}
      </button>
    </div>

    <div *ngIf="confirmCode" class="mt-2 mb-4 ms-2">
      <form [formGroup]="confirmCodeForm" class="form-grid" (ngSubmit)="confirmVerificationCode()" autocomplete="off">


        <div class="mt-2 mb-4 my-3">
          <label class="required">{{'verificationToken' | translate}}</label>
          <input formControlName="token" type="text" class="form-control"
                 [class.is-invalid]="submittedConfirmCode && confirmCodeForm.get('token')?.errors">
          <span class="text-danger" *ngIf="submittedConfirmCode && confirmCodeForm.get('token')?.hasError('required')">
                        {{'verificationCodeRequired' | translate}}
                    </span>
        </div>

        <button class="btn-confirm w-auto ms-0" style="height: 30px">{{ 'submit' | translate }}</button>

      </form>
    </div>
    <!-- Two-factor authentication manage -->

    <!-- Account details -->
    <form [formGroup]="companyForm" class="form-grid" (ngSubmit)="save()" autocomplete="off">

      <div class="d-flex flex-row" style="width: 80%; padding: 10px">

        <div class="mt-2 mb-4 ">
          <img *ngIf="logoPreview" [src]="logoPreview" alt="Company Logo" style="width: 150px; height: auto;">

          <label for="logo" class="btn btn-confirm mt-2 w-auto">
            <input id="logo" type="file" (change)="onLogoChange($event)">
            {{ 'changeLogo' | translate }}
          </label>
        </div>


        <div class="ms-5">
          <label class="fs-5">{{'companyName'|translate}}</label>
          <input formControlName="companyName" type="text" class="form-control"
                 [class.is-invalid]="submitted && companyForm.get('companyName')?.errors">
          <span class="text-danger" *ngIf="submitted && companyForm.get('companyName')?.hasError('required')">
                       {{'companyNameRequired' | translate }}
                    </span>
          <span class="text-danger" *ngIf="submitted && companyForm.get('companyName')?.hasError('min')">
                       {{'companyNameMin' | translate}}
                    </span>
          <span class="text-danger" *ngIf="submitted && companyForm.get('companyName')?.hasError('max')">
                        {{'companyNameMax'| translate}}
                    </span>
        </div>


      </div>

      <div class="content">

        <div class="firstpart">

          <div class="mt-2 mb-4">
            <label>{{'username'|translate}}</label>
            <input type="text" [value]=loggedCompany?.userName class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>{{ 'email' | translate }}</label>
            <input type="text" [value]=loggedCompany?.email class="form-control" disabled>
          </div>


          <div class="mt-2 mb-4">
            <label>{{'yearFounded' | translate}}</label>
            <input type="text" [value]=loggedCompany?.godinaOsnivanja class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>{{ 'location' | translate}}</label>
            <input formControlName="location" type="text" class="form-control"
                   [class.is-invalid]="submitted && companyForm.get('location')?.errors">
            <span class="text-danger" *ngIf="submitted && companyForm.get('location')?.hasError('required')">
                       {{'locationRequired' | translate}}
                    </span>
          </div>

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="secondpart">

          <div class="mt-2 mb-4">
            <label>{{'numberOfEmployees' | translate}}</label>
            <select formControlName="numberOfEmployees" class="form-control"
                    [class.is-invalid]="submitted && companyForm.get('numberOfEmployees')?.errors">
              <option *ngFor="let option of numberOfEmployeesRange" [value]="option">
                {{ option }}
              </option>
            </select>
            <span class="text-danger" *ngIf="submitted && companyForm.get('numberOfEmployees')?.hasError('required')">
                  {{'numberOfEmployeesRequired' | translate}}
            </span>
          </div>

          <div class="mt-2 mb-4">
            <label>{{'website' | translate}}</label>
            <input formControlName="website" type="text" class="form-control">
          </div>

          <div class="mt-2 mb-4">
            <label>{{'linkedin' | translate}}</label>
            <input formControlName="linkedin" type="text" class="form-control">
          </div>


          <div class="mt-2 mb-4">
            <label>{{ 'twitter' | translate}}</label>
            <input formControlName="twitter" type="text" class="form-control">
          </div>

        </div>
        <!-- Second column -->

      </div>

      <div class="d-flex flex-row">

        <div class="mt-2 mb-4" style="width: 100%;">
          <label>{{'shortDescription' |translate}}</label>
          <textarea formControlName="shortDecription" type="text" class="form-control" rows="3"
                    [class.is-invalid]="submitted && companyForm.get('shortDecription')?.errors"> </textarea>
          <span class="text-danger" *ngIf="submitted && companyForm.get('shortDecription')?.hasError('required')">
                       {{'shortDescriptionRequired'|translate}}
                    </span>
        </div>

      </div>

      <div class="d-flex flex-row">

        <div class="mt-2 mb-4" style="width: 100%;">
          <label>{{ 'description' | translate}}</label>
          <textarea #textareaElement formControlName="decription" type="text" class="form-control"
                    (input)="adjustTextareaHeight(textareaElement)">
                    [class.is-invalid]="submitted && companyForm.get('decription')?.errors"> </textarea>
          <span class="text-danger" *ngIf="submitted && companyForm.get('decription')?.hasError('required')">
                        {{'descriptionRequired'|translate}}
                    </span>
        </div>

      </div>


      <div class="form-group d-flex flex-row justify-content-between">

        <div>
          <button type="button" class="btn-danger" style="width: 120px" (click)="openDeleteModal()">{{ 'deleteAccount' | translate }}
          </button>
        </div>

        <div class="d-flex flex-row">
          <button type="button" class="btn-cancel" (click)="cancel()">{{ 'cancel' | translate}}</button>
          <button type="button" class="btn-confirm ms-2 w-auto" (click)="openSaveModal()">{{'saveChanges' | translate}}</button>
        </div>

      </div>

      <app-notification-toast></app-notification-toast>

    </form>
    <!-- Account details -->

  </div>
</div>


<app-modal
  modalId="deleteModal"
  title="Delete Account"
  body="'deleteAccountConfirmation' | translate"
  [buttons]="deleteButtons"
></app-modal>

<app-modal
  modalId="saveModal"
  title="Confirm Changes"
  body="'confirmChangesConfirmation' | translate"
  [buttons]="saveButtons"
></app-modal>







