.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.breadcrumb-link {
  color: #84B59F;
  font-size: larger;
  text-decoration: none;
}

.breadcrumb-text {
  color: #84B59F;
  font-size: larger;
}

.header-section {
  margin-bottom: 50px;
  margin-top: 10px;
}

.header-title {
  color: #84B59F;
}

/* Chat kontejner */
.chat-container {
  display: flex;
  gap: 20px;
  height: 80vh;
}

.chat-list {
  width: 30%;
  max-width: 400px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  height: 100%;
}

.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.chat-item:hover {
  background-color: #e0e0e0;
}

.chat-name {
  font-weight: bold;
}

.chat-message {
  color: gray;
  font-size: 14px;
}

.chat-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-time {
  font-size: 12px;
  color: gray;
}

.unread-messages {
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}

/* Desna strana - glavni chat */
.main-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
}

/* Chat header */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* Chat poruke */
.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-bubble {
  background: #f1f1f1;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Chat input */
.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-input button {
  padding: 10px 15px;
  border: none;
  background-color: #84B59F;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #6a9c7d;
}

/* Dugmad */
.btn-confirm {
  background-color: #84B59F;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-confirm:hover {
  background-color: #6a9c7d;
}

.btn-cancel {
  background-color: #ff4d4d;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #cc0000;
}

/* Placeholder kada nije odabran chat */
.main-chat-placeholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 18px;
}

.icon-file {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:gray;
}
.attach-icon {
  cursor: pointer;
  font-size: 20px;
  color: gray;
  margin-right: 10px; /* Adjust spacing */
  transition: color 0.2s;
}

.attach-icon:hover {
  color: black;
}
