<app-navbar user='kandidat'></app-navbar>


<div class="main d-flex flex-row">
  <!-- Filter & Sort -->
  <div class="filter-search-section">
    <!-- Filter-->
    <div class="filer-section">
      <div class="d-flex flex-row ps-3 pt-5">
        <img class="mt-2" style="width: 25px; height: 30px;" src="../../../../assets/img/filter.png" alt="">
        <p class="fs-3 fw-bold ps-2">Filter</p>
      </div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <!-- Location -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <a class="accordion-button nav-link text-dark collapsed" type="button" data-bs-toggle="collapse"
               data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
               aria-controls="panelsStayOpen-collapseOne">
              Location
            </a>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
               aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="locationFilter('Mostar')"
                       id="flexCheckDefault-Mostar">
                <label class="form-check-label" for="flexCheckDefault-Mostar">
                  Mostar
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="locationFilter('Sarajevo')"
                       id="flexCheckChecked-Sarajevo">
                <label class="form-check-label" for="flexCheckChecked-Sarajevo">
                  Sarajevo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="locationFilter('Jablanica')"
                       id="flexCheckChecked-Jablanica">
                <label class="form-check-label" for="flexCheckChecked-Jablanica">
                  Jablanica
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="locationFilter('Remote')"
                       id="flexCheckChecked-Remote">
                <label class="form-check-label" for="flexCheckChecked-Remote">
                  Remote
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Location -->

        <!-- Number of Employees -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <a class="accordion-button nav-link text-dark collapsed" type="button" data-bs-toggle="collapse"
               data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
               aria-controls="panelsStayOpen-collapseTwo">
              Number of Employees
            </a>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
               aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="form-check" *ngFor="let type of brojZaposlenihRange">
                <input class="form-check-input" type="checkbox" value="" (change)="NumberOfEmployeesFilter(type)"
                       [id]="'flexCheckChecked-' + type.replace(' ', '-').toLowerCase()">
                <label class="form-check-label" [for]="'flexCheckChecked-' + type.replace(' ', '-').toLowerCase()">
                  {{ type }}
                </label>
              </div>
            </div>
          </div>

          <!-- Number of Employees -->

          <!-- Open Positions -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <a class="accordion-button nav-link text-dark collapsed" type="button" data-bs-toggle="collapse"
                 data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                 aria-controls="panelsStayOpen-collapseThree">
                Open Positions
              </a>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-true"
                         (change)="openPositionsFilter('Positions available')">
                  <label class="form-check-label" for="flexCheckDefault-true">
                    Positions available
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked-false"
                         (change)="openPositionsFilter('No open positions')">
                  <label class="form-check-label" for="flexCheckChecked-false">
                    No open positions
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Open Positions -->

        <!-- Sort -->
        <div class="sort-section flex-1">
          <div class="d-flex flex-row ps-3 pt-5">
            <img style="width: 30px; height: 30px; padding-top: 3px; " src="../../../../assets/img/sort.png" alt="">
            <p class="fs-3 fw-bold ps-2">Sort</p>
          </div>
          <div class="ps-3">
            <div class="pt-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" (change)="sortirajPoKompaniji()"
                       id="flexCheckChecked-company-name">
                <label class="form-check-label" for="flexCheckChecked-company-name">
                  Company Name
                </label>
              </div>
              <div class="form-check pt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked-open-positions"
                       (change)="sortirajPoOtvorenimPozicijama()">
                <label class="form-check-label" for="flexCheckChecked-open-positions">
                  Number of Open Positions
                </label>
              </div>
              <div *ngIf="isNumberOfOpenPositions" class="ps-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadio-days"
                         id="flexRadioAscending-open-positions"
                         checked (change)="promijeniSortiranjeZaOtvorenePozicije()">
                  <label class="form-check-label" for="flexRadioAscending-open-positions">
                    Ascending
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadio-days"
                         id="flexRadioDescending-open-positions"
                         (change)="promijeniSortiranjeZaOtvorenePozicije()">
                  <label class="form-check-label" for="flexRadioDescending-open-positions">
                    Descending
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sort -->
      </div>
    </div>
    <!-- Filter-->
  </div>
  <!-- Filter & Sort -->

  <!-- Right Section -->
  <div class="rigth-section d-flex flex-column">

    <!-- Message Section -->
    <div class="message-section">
      Discover the best IT companies to jumpstart your career - use our search and filters to find the perfect match for
      your skills and aspirations.
    </div>
    <!-- Message Section -->

    <!-- Seach box  -->
    <div class="search-box">
      <form class="search-form">
        <input class="form-control" type="text" [(ngModel)]="pretragaNaziv" [ngModelOptions]="{standalone: true}"
               (ngModelChange)="onSearchChange($event)"
               placeholder="Search by position name or company name.">
        <i class="fa-solid fa-magnifying-glass"></i>
      </form>
    </div>
    <!-- Seach box  -->

    <!-- Komapnije Section -->
    <div class="kompanije-section d-flex flex-row">
      <!-- Komapnije -->
      <div class="kompanije d-flex flex-column">


        <!-- Kompanija  -->
        <div class="kompanija"
             *ngFor="let kompanija of filtriraneKompanije() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }"
             (click)="prikazDetalja(kompanija)">
          <div class="kompanija-content d-flex flex-row" [class.selected]="kompanija === kompanijaZaPrikaz">
            <img style="order: 1; flex:0.5" class="img-logo" src="../../../../assets/img/kompanija-logo.png" alt="image"
                 loading="lazy">
            <div class="d-flex flex-column justify-content-around" style="order: 2; flex:5">
              <span class="fw-bold fs-3" style="color: #84B59F">{{ kompanija.naziv }}</span>
              <span class="fw-normal" style="font-size: 13px;">{{ kompanija.kratkiOpis }}</span>
              <div class="d-flex flex-row">
                <img style=" height: 15px; width: 15px;" alt="" src="../../../../assets/img/location.png">
                <div>
                  <span class="fw-normal" style="font-size: 13px;">{{ kompanija.lokacija }}</span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-between " style="padding: 10px; order: 3; flex:2">
              <span *ngIf="kompanija.brojOtvorenihPozicija! > 0" class="fs-6 d-flex flex-row justify-content-end ">
                <div class="open-positions">
                                 Open positions {{ kompanija.brojOtvorenihPozicija }}
                </div>
              </span>
              <span *ngIf="kompanija.brojOtvorenihPozicija! == 0" class="fs-6 d-flex flex-row justify-content-end ">
                <div>

                </div>
              </span>

              <a (click)="saveKompanija(kompanija)" class="d-flex flex-row justify-content-end">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25px" height="25px">
                  <path [attr.fill]="kompanija.spasen ? '#FF0000' : '#999999'" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
              </a>



            </div>

            <app-notification></app-notification>
          </div>
        </div>
        <!-- Kompanija  -->

        <!-- Paginacija -->
        <div *ngIf="imaRezultataPretrage" class="d-flex justify-content-center pe-5">
          <pagination-controls class="pagination ps-0"
                               (pageChange)="pageChangeEvent($event, true)"></pagination-controls>
        </div>
        <!-- Paginacija -->

      </div>
      <!-- Komapnije -->

      <!-- Komapnije pregled -->
      <div *ngIf="imaRezultataPretrage" class="kompanija-pregled">
        <div class="pregled-content shadow p-3 mb-4 mt-0">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <img class="img-logo" src="../../../../assets/img/kompanija-logo.png" alt="image" loading="lazy">
              <div class="d-flex flex-column py-3">
                <span class="fw-bold fs-3 " style="color: #84B59F">{{ odabranaKompanija?.naziv }}</span>
                <span class="fw-normal fs-5 py-2">{{ odabranaKompanija?.brojZaposlenih }} Employees</span>
                <span class="fw-normal fs-5 py-2">
                    <img style=" height: 15px; width: 15px;" alt="" src="../../../../assets/img/location.png">
                  {{ odabranaKompanija?.lokacija }}</span>
              </div>
              <div style="width: 170px; margin-left: auto;">
                 <span *ngIf="odabranaKompanija?.brojOtvorenihPozicija! > 0"
                       class="fs-6 d-flex flex-row justify-content-end ">
                <div class="open-positions">
                                 Open positions {{ odabranaKompanija?.brojOtvorenihPozicija }}
                </div>
                 </span>
                <span *ngIf="odabranaKompanija?.brojOtvorenihPozicija! == 0"
                      class="fs-6 d-flex flex-row justify-content-end ">
                 <div class="open-positions" style="background-color: lightgray">
                                No open positions
                 </div>
                  </span>
              </div>
            </div>
            <div>
              <br>
              <p class="pregled-naslovi fs-5">{{ odabranaKompanija?.kratkiOpis }}</p>
              <br>
              <p class="pregled-naslovi fw-bold fs-6">Description:</p>
              <span>{{ odabranaKompanija?.opis }}</span>
              <br> <br>
            </div>
          </div>
          <div class="d-flex flex-row me-auto ms-auto mt-3 justify-content-center">
            <a class="nav-link text-dark d-flex justify-content-center pregled-btn " type="button">Contact</a>
            <a class="nav-link text-dark d-flex justify-content-center pregled-btn" type="button"
               [routerLink]="['/kompanije/', odabranaKompanija?.id]">Details</a>
          </div>
          <div class="d-flex flex-row mt-4 mb-4">
            <div *ngIf="!noPreviousElement" class="img-left-arrow d-flex justify-content-center" style="">
              <img src="../../../../assets/img/left-arrow.png" alt="" (click)="ucitajPrethodnuKompaniju()">
            </div>
            <div *ngIf="!noNextElement" class="img-right-arrow d-flex justify-content-center" style="">
              <img src="../../../../assets/img/right-arrow.png" alt="" (click)="ucitajSljedecuKompaniju()">
            </div>

          </div>
        </div>

      </div>
      <!-- Komapnije pregled -->

    </div>
    <!-- Komapnije Section -->


    <!-- Nema rezultata pretrage  -->
    <div *ngIf="!imaRezultataPretrage && pretragaNaziv != ''"
         class="p-4 border border-2 shadow bg-body-tertiary no-result-section">
      <span class="fs-4 mb-4">No results for {{ this.pretragaNaziv }}</span> <br>
      <div class="mt-3 fs-6">
        <span>Search Help</span>
        <ul>
          <li>Check your search for typos and spelling errors.</li>
          <li>Try more general keywords.</li>
          <li>Try different keywords.</li>
        </ul>
      </div>
    </div>


    <div *ngIf="!imaRezultataPretrage && pretragaNaziv == ''"
         class="p-4 border border-2 shadow bg-body-tertiary no-result-section">
      <span class="fs-5 mb-4">We're sorry. We were not able to find a match.</span> <br>
    </div>

  </div>
  <!-- Right Section -->
  <div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmUnsaveModal" tabindex="-1" aria-labelledby="confirmUnsaveModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmUnsaveModalLabel">Confirm Unsave</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to unsave this company?
      </div>
      <div class="modal-footer">
        <button type="button" class="nav-link btn-cancel" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="nav-link btn-confirm d-flex justify-content-center align-middle" (click)="confirmUnsave()">Unsave</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
