.content {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.pregled-breadcrumbs {
  padding: 0;
}

.button-section {
  padding-right: 10px;
  padding-left: 10px;
  margin: 100px 10px 10px auto;
  height: 50px;
}

.mat-button-toggle {
  width: 150px;
  font-size: larger;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mat-button-toggle-group {
  border: none;
}

.mat-button-toggle-checked {
  background-color: #DDD8C4 !important;
}

.mat-button-toggle:hover {
  background-color: hsl(153 25% 61% / 25%);
}
