
<!-- Navbar neregistrovani korisnik -->
<div *ngIf="user == 'neregistrovani'">

  <div class="nav-bar px-5 py-1 d-flex">
    <div class="naslov fs-1 fw-bold me-auto p-1 bd-highlight">
      <a class="nav-link active text-dark fs-1 fw-bold " *ngIf="user == 'neregistrovani'"
         [routerLink]="'/home'">searchit</a>
      <hr class="naslov-underline">
    </div>
    <div class="nav p-2">
      <ul class="navbar-nav flex-row py-1">
        <li class="nav-item" [ngClass]="{'active-link': isActiveRoute('/home')}">
          <a class="nav-link active px-3  fw-bold fs-5 text-underline mt-2" [routerLink]="'/home'">Home</a>
        </li>
        <li class="nav-item" [ngClass]="{'active-link': isActiveRoute('/home-kandidat')}">
          <a class="nav-link active px-3  fw-bold fs-5 text-underline mt-2" [routerLink]="'/home-kandidat'">Jobs</a>
        </li>
        <li class="nav-item" [ngClass]="{'active-link': isActiveRoute('/kompanije')}">
          <a class="nav-link active px-3  fw-bold fs-5 text-underline mt-2" [routerLink]="'/kompanije'">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-3 fw-bold fs-5 text-underline mt-2" href="#aboutUs" (click)="scrollToSection($event, '#aboutUs')">About Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active fw-bold fs-5 text-underline log-in" [routerLink]="'/login'" href="">Log in</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active fw-bold fs-5 text-underline sign-up"  style="color: white">Sign up</a>
        </li>
      </ul>
    </div>
  </div>

</div>
<!-- Navbar neregistrovani korisnik -->

<!-- Navbar kandidat -->

<div *ngIf="user == 'kandidat'">
  <div class="nav-bar px-5 py-1 d-flex">
    <div class="naslov fs-1 fw-bold me-auto p-1 bd-highlight">
      <a class="nav-link active text-dark fs-1 fw-bold " *ngIf="user == 'kandidat'"
         [routerLink]="'/home-kandidat'">searchit</a>
      <hr class="naslov-underline">
    </div>
    <div class="nav p-2">
      <ul class="navbar-nav flex-row py-1">
        <li class="nav-item" [ngClass]="{'active-link': isActiveRoute('/home-kandidat')}">
          <a class="nav-link active px-3  fw-bold fs-5 text-underline mt-2" [routerLink]="'/home-kandidat'">Home</a>
        </li>
        <li class="nav-item" [ngClass]="{'active-link': isActiveRoute('/kompanije')}">
          <a class="nav-link active px-3  fw-bold fs-5 text-underline mt-2" [routerLink]="'/kompanije'">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-3  fw-bold fs-5 text-underline mt-2">Create CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active px-3 fw-bold fs-5 text-underline mt-2">Applications</a>
        </li>
        <li class="nav-item" [ngClass]="{'active-link': isActiveRoute('/favorites')}">
          <a class="nav-link active px-3 fw-bold fs-5 text-underline mt-2" *ngIf="user == 'kandidat'"
             [routerLink]="'/favorites'">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="btn p-0" href="">
            <img style="width:60px " src="./assets/img/profilna-ikona.png" alt="image">
          </a>
        </li>
        <li class="nav-item">
          <a class="btn pt-3" href="">
            <img style="width:25px" src="./assets/img/chat.png" alt="image">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Navbar kandidat -->
