.nav-bar {
  background-color: #ffffff;
}

.nav-item .nav-link{
  text-decoration: none;
  color: #262525;
}

.nav-item .nav-link:hover{
  color: var(--secondary-color);
}

.naslov-underline{
  margin-top: -13px;
  margin-left: 0px;
  width: 43px;
  height: 5px;
  background-color: var(--secondary-color);
}

.active-link {
  color: var(--secondary-color);
}

.nav ul li.active-link a {
  color: var(--secondary-color); /* Change this to the color you want for active links */
  font-weight: bold;
}

