<app-navbar></app-navbar>

<div class="d-flex flex-column container me-auto ms-auto" style="height: fit-content">


  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">Home > </a>
    <p style="color: #84B59F; font-size: larger;" [routerLink]="['/cv/']"> > CV >
    <p style="color: #84B59F; font-size: larger;" [routerLink]="['/cv-create/']"> > Create CV >
    <p style="color: #84B59F; font-size: larger;"> > CV Preview
  </div>
  <!-- Breadcrumbs -->


  <div class="fw-bold tekst mb-4">CV Preview - {{ this.cv.naziv }}</div>

  <!--Personal Details-->
  <div class="fs-5 me-auto ms-auto mb-2"> {{ this.cv.ime }} {{ this.cv.prezime }}</div>
  <div class="me-auto ms-auto">{{ this.cv.grad }} {{ this.cv.drzava }}</div>
  <div class="ms-auto">{{ this.cv.email }}</div>
  <div class="me-auto">{{ this.cv.phoneNumber }}</div>
  <!--Personal Details-->


  <!--Professional Summary-->
  <div *ngIf="this.cv.profesionalniSazetak" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Professional Summary</div>
    <div>{{ this.cv.profesionalniSazetak }}</div>
  </div>
  <!--Professional Summary-->


  <!--Education-->
  <div *ngIf="this.cv.edukacija.length > 0" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Education</div>
    <div class="edukacije"
         *ngFor="let edukacija of this.cv.edukacija">

      <div class="education-content d-flex row align-items-center">
        <div class="d-flex column justify-content-between">
          <div class="fw-bold">
            {{ edukacija.nazivSkole }}
          </div>
          <div>
            <div *ngIf="edukacija.datumPocetka && edukacija.datumZavrsetka">
              {{ edukacija.datumPocetka | date: 'MMMM yyyy' }} -  {{ edukacija.datumZavrsetka | date: 'MMMM yyyy' }}
            </div>
            <div *ngIf="edukacija.grad" class="d-flex justify-content-end">
              {{ edukacija.grad }}
            </div>
          </div>
        </div>
        <div *ngIf="edukacija.opis">
          {{ edukacija.opis }}
        </div>
      </div>
    </div>
  </div>
  <!--Education-->


  <!--Employment History-->
  <div *ngIf="this.cv.zaposlenje.length > 0" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Employment History</div>
    <div class="zaposlenje"
         *ngFor="let zasposljenje of this.cv.zaposlenje">

      <div class="employment-content d-flex row align-items-center">
        <div class="d-flex column justify-content-between">
          <div class="fw-bold">
            {{ zasposljenje.nazivKompanije }} - {{ zasposljenje.nazivPozicije }}
          </div>
          <div>
            <div *ngIf="zasposljenje.datumPocetka && zasposljenje.datumZavrsetka">
              {{ zasposljenje.datumPocetka | date: 'MMMM yyyy' }}
              -  {{ zasposljenje.datumZavrsetka | date: 'MMMM yyyy' }}
            </div>
          </div>
        </div>
        <div *ngIf="zasposljenje.opis">
          {{ zasposljenje.opis }}
        </div>
      </div>
    </div>
  </div>
  <!--Employment History-->


  <div class="vjestine-tehnicke-vjestine mb-4 ">


    <!--Skills-->
    <div *ngIf="this.cv.vjestine" class="section">
      <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Skills</div>
      <div class="vjestine"
           *ngFor="let vjestina of this.cv.vjestine">

        {{ vjestina }}
      </div>
    </div>
    <!--Skills-->


    <!--Technical Skills-->
    <div *ngIf="this.cv.tehnickeVjestine" class="section">
      <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Technical Skills</div>
      <div class="tehnickeVjestine"
           *ngFor="let vjestina of this.cv.tehnickeVjestine">

        {{ vjestina }}
      </div>
    </div>
    <!--Technical Skills-->

  </div>


  <!--Courses-->
  <div *ngIf="this.cv.kursevi.length > 0" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Courses</div>
    <div class="kursevi"
         *ngFor="let kurs of this.cv.kursevi">

      {{ kurs }}
    </div>
  </div>
  <!--Courses-->


  <!--Websites & Links-->
  <div *ngIf="this.cv.url.length > 0" class="section">
    <div class="fw-bold tekst mb-4 fs-5 mt-2 mb-2 d-flex justify-content-center">Websites & Links</div>
    <div class="linkovi "
         *ngFor="let link of this.cv.url">

      {{ link.naziv }}: {{ link.putanja }}
    </div>
  </div>
  <!--Websites & Links-->


  <div class="button-section">
    <div class="d-flex flex-row mt-2">
      <button type="button" class="btn-cancel"
              (click)="cancel()">Cancel
      </button>

      <button *ngIf="!edit" type="button" class="btn-confirm"
              (click)="openCreateCVModal()">Create CV
      </button>
      <button *ngIf="edit" type="button" class="btn-confirm"
              (click)="save()">Save
      </button>
      <button *ngIf="edit" type="button" class="btn-confirm"
              [routerLink]="['/cv-create/', Number(this.cvEditId)]">Edit
      </button>

      <button *ngIf="!edit" type="button" class="btn-confirm"
              [routerLink]="['/cv-create/']">Edit
      </button>
    </div>
  </div>
</div>

<app-modal
  modalId="createCVModal"
  title="Publish CV"
  body="Are you sure you want to publish CV?"
  [buttons]="createCVButtons"
>
  <div style="color: red">
    Note: published CVs will be visible to all companies, while draft is visible only to you.
  </div>
</app-modal>


<app-footer></app-footer>
