<app-navbar user='neregistrovani'></app-navbar>

<div class="main">

  <div class="headline">
    <h3 class="fw-bold">Account details </h3>
    <hr class="text-underline">
  </div>

  <div class="container">

    <div class="two-factor-auth ms-2">
      <button
        (click)="toggle2FA()"
        [ngClass]="{'enabled': is2FAEnabled, 'disabled': !is2FAEnabled}"
      >
        {{ is2FAEnabled ? 'Disable 2FA' : 'Enable 2FA' }}
      </button>
    </div>

    <div *ngIf="confirmCode && loggedUser?.phoneNumberConfirmed" class="mt-2 mb-4 ms-2">
      <form [formGroup]="confirmCodeForm" class="form-grid" (ngSubmit)="confirmVerificationCode()" autocomplete="off">


        <div class="mt-2 mb-4 my-3">
          <label class="required">Enter the verification token send to your phone number and email.</label>
          <input formControlName="token" type="text" class="form-control"
                 [class.is-invalid]="submittedConfirmCode && confirmCodeForm.get('token')?.errors">
          <span class="text-danger" *ngIf="submittedConfirmCode && confirmCodeForm.get('token')?.hasError('required')">
                        Verification code is required!
                    </span>
        </div>

        <button class="btn-confirm w-auto ms-0" style="height: 30px">Submit</button>

      </form>
    </div>


    <form [formGroup]="candidateForm" class="form-grid" (ngSubmit)="save()" autocomplete="off">
      <div class="content">
        <div class="firstpart">

          <div class="mt-2 mb-4">
            <label>Username</label>
            <input type="text" [value]=loggedUser?.userName class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>Email</label>
            <input type="text" [value]=loggedUser?.email class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>First Name</label>
            <input type="text" [value]=loggedUser?.ime class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>Last Name</label>
            <input type="text" [value]=loggedUser?.prezime class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>Title</label>
            <input formControlName="title" type="text" class="form-control"
                   [class.is-invalid]="submitted && candidateForm.get('title')?.errors">
            <span class="text-danger" *ngIf="submitted && candidateForm.get('title')?.hasError('required')">
                        Title is required!
                    </span>
            <span class="text-danger" *ngIf="submitted && candidateForm.get('title')?.hasError('min')">
                       Title must be at least 3 characters!
                    </span>
            <span class="text-danger" *ngIf="submitted && candidateForm.get('title')?.hasError('max')">
                        Title must be less than 50 characters!
                    </span>
          </div>

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="secondpart">

          <div class="mt-2 mb-4">
            <label>Date of Birth</label>
            <input type="date" [value]="loggedUser?.datumRodjenja | date:'yyyy-MM-dd' " class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>Residence</label>
            <input formControlName="residence" type="text" class="form-control"
                   [class.is-invalid]="submitted && candidateForm.get('residence')?.errors">
            <span class="text-danger" *ngIf="submitted && candidateForm.get('residence')?.hasError('required')">
                        Residence is required!
                    </span>
          </div>


          <div class="mt-2 mb-4">
            <label>Phone Number</label>
            <input formControlName="phoneNumber" type="text" class="form-control"
                   [class.is-invalid]="submitted && candidateForm.get('phoneNumber')?.errors">
            <span class="text-danger" *ngIf="submitted && candidateForm.get('phoneNumber')?.hasError('required')">
                       Phone number is required!
                    </span>

            <span class="text-danger" *ngIf="submitted && candidateForm.get('phoneNumber')?.hasError('pattern')">
                      Invalid phone number format!
                    </span>
          </div>

          <div *ngIf="!loggedUser?.phoneNumberConfirmed" class="mt-2 mb-4">
            <button *ngIf="!confirmNumber" class="btn-confirm w-auto ms-0" style="height: 30px"
                    (click)="sendVerificationCode()">Confirm phone number
            </button>

            <div *ngIf="confirmNumber">
              <form [formGroup]="confirmPhoneNumberForm" class="form-grid" (ngSubmit)="confirmPhoneNumber()"
                    autocomplete="off">


                <div class="mt-2 mb-4 my-3">
                  <label class="required">Enter the verification token send to your phone number.</label>
                  <input formControlName="token" type="text" class="form-control"
                         [class.is-invalid]="submittedConfirmNumber && confirmPhoneNumberForm.get('token')?.errors">
                  <span class="text-danger"
                        *ngIf="submittedConfirmNumber && confirmPhoneNumberForm.get('token')?.hasError('required')">
                        Verification code is required!
                    </span>
                </div>

                <button class="btn-confirm w-auto ms-0" style="height: 30px">Verify phone number</button>

              </form>
            </div>


          </div>

        </div>
        <!-- Second column -->

      </div>

      <div class="form-group d-flex flex-row justify-content-between">

        <div>
          <button type="button" class="btn-danger" style="width: 130px" (click)="openDeleteModal()">Delete account
          </button>
        </div>

        <div>
          <button type="button" class="btn-cancel" (click)="cancel()">Cancel</button>
          <button type="button" class="btn-confirm ms-2" (click)="openSaveModal()">Save change</button>
        </div>

      </div>

      <app-notification-toast></app-notification-toast>

    </form>
  </div>
</div>


<app-modal
  modalId="deleteModal"
  title="Delete Account"
  body="Are you sure you want to delete account?"
  [buttons]="deleteButtons"
></app-modal>

<app-modal
  modalId="saveModal"
  title="Confirm Changes"
  body=" Are you sure you want to save changes?"
  [buttons]="saveButtons"
></app-modal>





