<app-navbar></app-navbar>

<div class="main">

  <div class="section-headline">
    <h3 class="fw-bold">{{ 'accountDetails' | translate }}</h3>
    <hr class="text-underline">
  </div>

  <div class="container">

    <!-- Two-factor authentication manage -->
    <div class="two-factor-auth ms-2">
      <button
        (click)="toggle2FA()"
        [ngClass]="{'enabled': is2FAEnabled, 'disabled': !is2FAEnabled}">{{ is2FAEnabled ? ('disable2FA' | translate) : ('enable2FA' | translate) }}
      </button>
    </div>

    <div *ngIf="confirmCode && loggedUser?.phoneNumberConfirmed" class="mt-2 mb-4 ms-2">
      <form [formGroup]="confirmCodeForm" class="form-grid" (ngSubmit)="confirmVerificationCode()" autocomplete="off">
        <div class="mt-2 mb-4 my-3">
          <label class="required">{{ 'verificationToken' | translate }}</label>
          <input formControlName="token" type="text" class="form-control"
                 [class.is-invalid]="submittedConfirmCode && confirmCodeForm.get('token')?.errors">
          <span class="text-danger" *ngIf="submittedConfirmCode && confirmCodeForm.get('token')?.hasError('required')">
                        {{ 'verificationCodeRequired' | translate }}
                    </span>
        </div>

        <button class="btn-confirm w-auto ms-0" style="height: 30px">{{ 'submit' | translate }}</button>
      </form>
    </div>
    <!-- Two-factor authentication manage -->

    <!-- Account details -->
    <form [formGroup]="candidateForm" class="form-grid" (ngSubmit)="save()" autocomplete="off">
      <div class="content">
        <div class="firstpart">

          <div class="mt-2 mb-4">
            <label>{{ 'username' | translate }}</label>
            <input type="text" [value]=loggedUser?.userName class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>{{ 'email' | translate }}</label>
            <input type="text" [value]=loggedUser?.email class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>{{ 'firstName' | translate }}</label>
            <input type="text" [value]=loggedUser?.ime class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>{{ 'lastName' | translate }}</label>
            <input type="text" [value]=loggedUser?.prezime class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>{{ 'title' | translate }}</label>
            <input formControlName="title" type="text" class="form-control"
                   [class.is-invalid]="submitted && candidateForm.get('title')?.errors">
            <span class="text-danger" *ngIf="submitted && candidateForm.get('title')?.hasError('required')">
                        {{ 'titleRequired' | translate }}
                    </span>
            <span class="text-danger" *ngIf="submitted && candidateForm.get('title')?.hasError('min')">
                       {{ 'titleMinLength' | translate }}
                    </span>
            <span class="text-danger" *ngIf="submitted && candidateForm.get('title')?.hasError('max')">
                        {{ 'titleMaxLength' | translate }}
                    </span>
          </div>

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="secondpart">

          <div class="mt-2 mb-4">
            <label>{{ 'dateOfBirth' | translate }}</label>
            <input type="date" [value]="loggedUser?.datumRodjenja | date:'yyyy-MM-dd' " class="form-control" disabled>
          </div>

          <div class="mt-2 mb-4">
            <label>{{ 'residence' | translate }}</label>
            <input formControlName="residence" type="text" class="form-control"
                   [class.is-invalid]="submitted && candidateForm.get('residence')?.errors">
            <span class="text-danger" *ngIf="submitted && candidateForm.get('residence')?.hasError('required')">
                        {{ 'residenceRequired' | translate }}
                    </span>
          </div>

          <div class="mt-2 mb-4">
            <label>{{ 'phoneNumber' | translate }}</label>
            <input formControlName="phoneNumber" type="text" class="form-control"
                   [class.is-invalid]="submitted && candidateForm.get('phoneNumber')?.errors">
            <span class="text-danger" *ngIf="submitted && candidateForm.get('phoneNumber')?.hasError('required')">
                       {{ 'phoneNumberRequired' | translate }}
                    </span>

            <span class="text-danger" *ngIf="submitted && candidateForm.get('phoneNumber')?.hasError('pattern')">
                      {{ 'invalidPhoneNumberFormat' | translate }}
                    </span>
          </div>

          <div *ngIf="!loggedUser?.phoneNumberConfirmed" class="mt-2 mb-4">
            <button *ngIf="!confirmNumber" class="btn-confirm w-auto ms-0" style="height: 30px"
                    (click)="sendVerificationCode()">{{ 'confirmPhoneNumber' | translate }}
            </button>

            <div *ngIf="confirmNumber">
              <form [formGroup]="confirmPhoneNumberForm" class="form-grid" (ngSubmit)="confirmPhoneNumber()"
                    autocomplete="off">
                <div class="mt-2 mb-4 my-3">
                  <label class="required">{{ 'verificationTokenPhone' | translate }}</label>
                  <input formControlName="token" type="text" class="form-control"
                         [class.is-invalid]="submittedConfirmNumber && confirmPhoneNumberForm.get('token')?.errors">
                  <span class="text-danger"
                        *ngIf="submittedConfirmNumber && confirmPhoneNumberForm.get('token')?.hasError('required')">
                        {{ 'verificationCodeRequired' | translate }}
                    </span>
                </div>

                <button class="btn-confirm w-auto ms-0" style="height: 30px">{{ 'verifyPhoneNumber' | translate }}</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Second column -->
      </div>

      <div class="form-group d-flex flex-row justify-content-between">

        <div>
          <button type="button" class="btn-danger w-auto" (click)="openDeleteModal()">{{ 'deleteAccount' | translate }}</button>
        </div>

        <div>
          <button type="button" class="btn-cancel" (click)="cancel()">{{ 'cancel' | translate }}</button>
          <button type="button" class="btn-confirm ms-2 w-auto" (click)="openSaveModal()">{{ 'saveChanges' | translate }}</button>
        </div>

      </div>

      <app-notification-toast></app-notification-toast>

    </form>
    <!-- Account details -->
  </div>
</div>


<app-modal
  modalId="deleteModal"
  title="{{ 'deleteAccount' | translate }}"
  body="{{ 'deleteAccountConfirmation' | translate }}"
  [buttons]="deleteButtons"
></app-modal>

<app-modal
  modalId="saveModal"
  title="{{ 'confirmChanges' | translate }}"
  body="{{ 'confirmChangesConfirmation' | translate }}"
  [buttons]="saveButtons"
></app-modal>

