<!-- Navbar -->
<div class="container-fluid nav-bar px-5 py-1 d-flex">
  <div class="naslov fs-1 fw-bold me-auto p-1 bd-highlight">
    <a class="nav-link active text-dark fs-1 fw-bold pt-4" href="">searchit</a>
    <hr id="naslov-underline">
  </div>
  <div class="p-2">
    <ul class="navbar-nav flex-row px-1 py-2 ">
      <li class="nav-item">
        <a id ="home" class="nav-link active px-3 fw-bold fs-5 text-underline" href="#" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active px-3 fw-bold fs-5" href="#aboutUs">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active pe-5 ps-3  fw-bold fs-5" href="">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="btn  fw-bold fs-5" href="">Sign up</a>
      </li>
    </ul>
  </div>
</div>
<!-- Navbar -->
<div class = "container-fluid bgPage">
  <!-- Carousel -->
  <div id="carouselExampleInterval" class="carousel carousel-dark slide bgCarousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner pb-5">
      <div class="carousel-item active" data-bs-interval="4000">
        <div class="section1 d-flex">
          <div style="width: 60%" class="d-flex flex-column ps-4 pt-5">
            <div>
              <p class = "fs-1 fw-bold" >Embark on Your Career Odyssey with searchit!</p>
              <br>
              <p class = "fs-3 fw-bold">Discover, Connect, Thrive – Your Perfect Job Awaits</p>
              <br>
              <p  class ="fs-4" style=" line-height: 30px">
                Are you ready to turn your career dreams into reality? Look no further than searchit, the ultimate companion for job seekers
                like you. Tailored to empower candidates in their professional pursuits, searchit is here to redefine the way you navigate
                the job market.
              </p>
            </div>
            <br>
            <br>
            <div>
              <a class="btn2 btn fs-4 fw-normal text-center shadow" href="">Sign up</a>
            </div>
          </div>
          <div class="ms-auto p-1 bd-highlight slika">
            <img class="img" src="./assets/img/rukovanje.png" alt="image" style="width: 440px; margin-top:80px;margin-right:120px">
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <div class="section2 d-flex">
          <div style="width: 70%" class="d-flex flex-column ps-4 pt-5">
            <div>
              <p class = "fs-1 fw-bold">Welcome to searchit: Your Gateway to Exceptional Talent!</p>
              <br>
              <p class = "fs-3 fw-bold">Revolutionize Your Hiring Experience with Our Premier Recruitment Platform</p>
              <br>
              <p class ="fs-4" style=" line-height: 30px">
                Are you ready to elevate your team with top-tier talent? Enter searchit – the ultimate solution for companies seeking exceptional
                professionals to drive success.
                Say goodbye to traditional hiring hassles and welcome a new era of streamlined, efficient recruitment.
              </p>
            </div>
            <br>
            <br>
            <div>
              <a class="btn2 btn fs-4 fw-normal text-center shadow" href="">Sign up</a>
            </div>

          </div>
          <div class="ms-auto p-3 bd-highlight">
            <img class ="img" src="./assets/img/dream-job.png" alt="image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel -->

  <div>

  </div>
  <!--Tekst-->
  <div class="container-fluid tekst">
    <h1 id="aboutUs" class="text-center text-underline fs-1">About <span class="secondPartHeader">Us</span></h1>
    <br>
    <div class="row">
      <div class="col tekst-dio p-3 fs-5">
        <img class="icon" src="./assets/img/mask-group-6.png" alt="">
        <br>
        A CV builder option on a web app provides users with a streamlined and user-friendly tool to create professional and visually appealing resumes.
        It offers a range of customizable templates, allowing individuals to easily input their personal and professional information.
        The intuitive interface guides users through the process, offering helpful suggestions and tips to enhance the overall quality of the CV.
      </div>
      <div class="col order-5 tekst-dio fs-5 p-3">
        <img class="icon" src="./assets/img/mask-group-3.png" alt="">
        <br>
        We strive to provide a seamless platform that connects candidates with their dream opportunities, fostering a space where career aspirations align
        seamlessly with employers seeking top-tier talent. With innovation at our core, we aim to redefine the job search experience, making it not just efficient,
        but also a source of inspiration and growth for every user.
      </div>
      <div class="col order-1 tekst-dio p-3 fs-5">
        <img class="icon" src="./assets/img/mask-group-4.png" alt="">
        <br>
        With advanced filtering and matching algorithms, our platform ensures that companies can effortlessly discover the perfect candidates for their job
        openings. Streamlined and user-friendly, our application empowers employers to efficiently navigate through a pool of qualified individuals, saving
        time and resources in the pursuit of building exceptional teams.
      </div>
      <div class="col order-1 tekst-dio fs-5 p-3">
        <img class="icon" src="./assets/img/mask-group-5.png" alt="">
        <br>
        Embark on your career journey with our cutting-edge job searching web app, tailored to help candidates uncover their ideal job opportunities.
        Our platform empowers users to navigate through a myriad of positions, ensuring a seamless and efficient job-hunting experience.
        Our user-centric design  ensures that you discover and connect with the perfect job that
        aligns with your skills and aspirations.
      </div>
    </div>
  </div>

</div>
<div class="container-fluid footer">
  <p class="copyright text-center">Copyright Ⓒ 2023, searchit.All right reserved.</p>
</div>

<script>
  //Smooth scroll behavior using JavaScript
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>
