<app-navbar></app-navbar>

<div class="content d-flex flex-column">

  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">Home > </a>
    <p style="color: #84B59F; font-size: larger;"> > CVs
  </div>
  <!-- Breadcrumbs -->

  <div class="d-flex flex-row justify-content-center align-items-center" style=" margin-bottom: 50px; margin-top: 10px">
    <span class="fw-bold fs-2" style="color: #84B59F; margin-left: auto; margin-right: auto; ">Published CVs</span>
    <!--<button class="btn-confirm" [routerLink]="'/cv-create'">Create new CV</button>-->
  </div>

  <!-- Seach box  -->
  <div class="search-box mt-4">
    <form class="search-form">
      <input class="form-control" type="text" [(ngModel)]="pretragaNaziv" [ngModelOptions]="{standalone: true}"
             (ngModelChange)="onSearchChange($event)"
             placeholder="Search by applicant name or title.">
      <i class="fa-solid fa-magnifying-glass"></i>
    </form>
  </div>
  <!-- Seach box  -->


  <!-- Canidates Section -->
  <div class="kandidati-section d-flex flex-row justify-content-between">
    <!-- Canidates -->
    <div class="cvs d-flex flex-column">

      <!-- Canidates  -->
      <div class="cv"
           *ngFor="let cv of renderCV()   | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total }"
           (click)="prikazDetalja(cv)">
        <div class="cv-content d-flex flex-row" [class.selected]="cv === selectedCV">

          <div class="d-flex flex-column justify-content-center" style="order: 2; flex:5">
            <div class="fw-bold fs-3" style="color: #84B59F">
              <span> {{ cv.ime }} </span>
              <span> {{ cv.prezime }} </span>
            </div>
            <span class="fw-normal fs-5">{{ cv.zvanje }}</span>

          </div>


          <div class="d-flex flex-column justify-content-between " style="padding: 10px; order: 3; flex:2">

          </div>

          <app-notification-toast></app-notification-toast>

        </div>
      </div>
      <!-- Kompanija  -->

      <!-- Paginacija -->
      <div *ngIf="imaRezultataPretrage" class="d-flex justify-content-center pe-5">
        <pagination-controls class="pagination ps-0"
                             (pageChange)="pageChangeEvent($event, true)"></pagination-controls>
      </div>
      <!-- Paginacija -->

    </div>
    <!-- Komapnije -->

    <!-- Komapnije pregled -->
    <div *ngIf="imaRezultataPretrage" class="cv-pregled">
      <div class="pregled-content shadow p-3 mb-4 mt-2">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row">

            <div class="d-flex flex-column py-3">
              <div class="fw-bold fs-1 " style="color: #84B59F">
                <span> {{ CVZaPrikaz?.ime }} </span>
                <span> {{ CVZaPrikaz?.prezime }} </span>
                <span class="fw-normal fs-5 me-0 "> {{ selectedCV?.email }}  </span>
              </div>

              <span class="fw-normal fs-5 "> {{ selectedCV?.zvanje }}  </span>
              <div *ngIf="CVZaPrikaz?.drzava" class="d-flex flex-row align-items-center mt-1">
                <img style=" height: 15px; width: 15px;" alt="" src="../../../../assets/img/location.png">
                <span class="fw-normal ms-1"> {{ CVZaPrikaz?.drzava }}</span>
                <span *ngIf="CVZaPrikaz?.grad" class="fw-normal ms-1"> , {{ CVZaPrikaz?.grad }}</span>
              </div>
            </div>
            <div style="width: 170px; margin-left: auto;">

            </div>

          </div>
          <div>
            <p style="color: #84B59F" class="pregled-naslovi fw-bold fs-5">Professional Summary:</p>
            <span> {{ CVZaPrikaz?.profesionalniSazetak }}</span>

            <p style="color: #84B59F" class="pregled-naslovi fw-bold fs-5 mt-3">Employment History</p>

            <div *ngFor="let zaposlenje of CVZaPrikaz?.zaposlenje?.$values" class="mt-2">

              <span>{{ zaposlenje.nazivPozicije }} | {{ zaposlenje.nazivKompanije }}</span>
              <span> | {{ zaposlenje.datumPocetka | date:'MMMM yyyy' }}</span> <span *ngIf="zaposlenje.datumZavrsetka"> - {{ zaposlenje.datumZavrsetka | date:'MMMM yyyy' }} </span>
            </div>


          </div>
        </div>
        <div class="d-flex flex-row me-auto ms-auto mt-5 justify-content-center">
          <button class=" btn-confirm" type="button" (click)="contact()">Contact</button>
          <button class=" btn-confirm" type="button"
                  [routerLink]="['/cv-details/', selectedCVId]">Details
          </button>
        </div>
        <div class="d-flex flex-row mt-4 mb-4">
          <div *ngIf="!noPreviousElement" class="img-left-arrow d-flex justify-content-center" style="">
            <img src="../../../../assets/img/left-arrow.png" alt="" (click)="ucitajPrethodnuKompaniju()">
          </div>
          <div *ngIf="!noNextElement" class="img-right-arrow d-flex justify-content-center" style="">
            <img src="../../../../assets/img/right-arrow.png" alt="" (click)="ucitajSljedecuKompaniju()">
          </div>

        </div>
      </div>

    </div>
    <!-- Komapnije pregled -->

  </div>
  <!-- Komapnije Section -->


  <!-- Nema rezultata pretrage  -->
  <div *ngIf="!imaRezultataPretrage && pretragaNaziv != ''"
       class="p-4 border border-2 shadow bg-body-tertiary no-result-section">
    <span class="fs-4 mb-4">No results for {{ this.pretragaNaziv }}</span> <br>
    <div class="mt-3 fs-6">
      <span>Search Help</span>
      <ul>
        <li>Check your search for typos and spelling errors.</li>
        <li>Try more general keywords.</li>
        <li>Try different keywords.</li>
      </ul>
    </div>
  </div>


  <div *ngIf="!imaRezultataPretrage && pretragaNaziv == ''"
       class="p-4 border border-2 shadow bg-body-tertiary no-result-section">
    <span class="fs-5 mb-4">We're sorry. We were not able to find a match.</span> <br>
  </div>


  <!-- Right Section -->
  <div>
  </div>
</div>

<!-- Nema rezultata pretrage  -->


<app-footer></app-footer>
