<div class="two-factor-container">
  <div class="two-factor-content">
    <h2>{{ 'two_factor_authentication' | translate }}</h2>
    <form (ngSubmit)="verifyCode()">
      <div class="form-group">
        <label for="token">{{ 'enter_2fa_code' | translate }}</label>
        <input type="text" id="token" [(ngModel)]="token" name="token" class="form-control mt-2" required />
      </div>

      <div class="d-flex flex-row justify-content-end">
        <button type="submit" class="btn-confirm ms-0 mt-3">{{ 'verify' | translate }}</button>
      </div>

    </form>

    <div class="alert alert-danger mt-3" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

  </div>
</div>
