
body {
  background-color: #EFEFEF;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #DDD8C4;
  --secondary-color: #84B59F;
  --hover-button-color: rgba(221, 216, 196, 0.74);
  --background-color: #F8F9FA;
}


.btn-confirm {
  background-color: var(--primary-color);
  border-radius: 7px;
  text-decoration: none;
  color: #3d3b3b;
  font-size: 16px;
  width: 80px;
  margin-left: 10px;
  border: none;
  height: 40px;
}

.btn-confirm:hover {
  background-color: rgba(221, 216, 196, 0.74);
}

/*
.btn-cancel {
  background-color: grey;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 100px;
  border: none;
  align-items: center;
  justify-content: center;
  height: 40px;
}
*/

.btn-cancel {
  background-color: #ffffff;
  border-radius: 7px;
  text-decoration: none;
  color: dimgrey;
  font-size: 16px;
  width: 100px;
  border: 1px solid dimgrey;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.btn-cancel:hover {
  background-color: rgba(239, 239, 239, 0.74);
}

.btn-danger{
  border-radius: 7px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 100px;
}

