<app-navbar></app-navbar>

<div class="content d-flex flex-column">

  <!-- Breadcrumbs -->
  <div class="d-flex flex-row nav-link pregled-breadcrumbs text-dark">
    <a type="button nav-link" style="color: #84B59F;; font-size: larger;  text-decoration: none;"
       [routerLink]="['/home/']">Home > </a>
    <p style="color: #84B59F; font-size: larger;"> > Users</p>
  </div>
  <!-- Breadcrumbs -->

  <span class="fw-bold fs-2" style="color: #84B59F; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 50px">Users</span>

  <!-- Jobs-companies-toogle -->
  <mat-button-toggle-group [(ngModel)]="selectedValue" class="mt-3 pb-4" value="{{selectedValue}}" style="margin-left: auto; margin-right: auto;">
    <mat-button-toggle value="Candidates">Candidates</mat-button-toggle>
    <mat-button-toggle value="Companies" class="ms-4" >Companies</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="selectedValue === 'Candidates'" style="width: 95%;   margin-left: auto; margin-right: auto;">
    <app-users-candidates></app-users-candidates>
  </div>

  <div *ngIf="selectedValue === 'Companies'" style="width: 95%;   margin-left: auto; margin-right: auto;">
    <app-user-companies></app-user-companies>
  </div>
  <!-- Jobs-companies-toogle -->
</div>

<app-footer></app-footer>
